# 주제: 전국 배리어프리 문화예술관광지
(https://www.bigdata-culture.kr/bigdata/user/data_market/detail.do?id=573acce0-0337-11ee-a67e-69239d37dfae)
### 컬럼명 설명
- FCLTY_NM	시설명
- MRHST_NM	가맹점명
- CTGRY_ONE_NM	카테고리1명_레저/ 문화광관/ 전시 등
- CTGRY_TWO_NM	카테고리2명_공원/ 관광지/ 레저시설/ 영화/ 전시 등
- CTGRY_THREE_NM	카테고리3명_경마장/ 골프장/ 미술관 등
- CTPRVN_NM	시도명
- SIGNGU_NM	시군구명
- EMD_NM	읍면동명
- LI_NM	리명
- LNBR_NO	번지번호
- ROAD_NM	도로명
- BULD_NO	건물번호
- LC_LA	위치위도
- LC_LO	위치경도
- ZIP_NO	우편번호
- RDNMADR_NM	도로명주소명
- LNM_ADDR	지번주소
- TEL_NO	전화번호
- HMPG_URL	홈페이지URL
- BLOG_URL	블로그URL
- FACEBOOK_URL	페이스북URL
- INSTGRM_URL	인스타그램URL
- RSTDE_GUID_CN	휴무일안내내용
- OPER_TIME	운영시간
- FRE_PARKNG_AT	무료주차여부
- CHGD_PARKNG_AT	유료주차여부
- ENTRN_PRICE_AT	입장금액여부
- DSPSN_TOILET_ATMC_DOOR_AT	장애인화장실자동문여부
- WCHAIR_HOLD_AT	휠체어보유여부
- DSPSN_TOILET_AT	장애인화장실여부
- DSPSN_PRKPLCE_AT	장애인주차장여부
- LRGE_PARKNG_POSBL_AT	대주차가능여부
- GUID_DOG_ACP_POSBL_AT	안내견동반가능여부
- BRLL_GUID_AT	점자안내여부
- KLANG_VIC_GUID_AT	한국어음성안내여부
- LAST_UPDT_DE	최종수정일자

In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [62]:
import matplotlib.pyplot as plt
import matplotlib
import matplotlib.font_manager as fm

# 폰트 설정
font_path = 'C:\\Windows\\Fonts\\gulim.ttc'
font = fm.FontProperties(fname=font_path).get_name()
matplotlib.rc('font', family=font)

In [63]:
df = pd.read_csv('./data/main_data.csv')

In [64]:
from sklearn.preprocessing import LabelEncoder

gender = df['GENDER']

encoder = LabelEncoder()
encoded_gender = encoder.fit_transform(gender)

df['GENDER'] = encoded_gender
df = df.drop(['CTGRY_ONE_NM','CTGRY_TWO_NM','SIGNGU_NM','FCLTY_ID','TRAVEL_ID','TRAVEL_STYL_1','TRAVEL_STYL_2','TRAVEL_STYL_3','TRAVEL_STYL_4'], axis = 1)

In [65]:
df

,FCLTY_NM,CTGRY_THREE_NM,WCHAIR_HOLD_AT,DSPSN_TOILET_AT,DSPSN_PRKPLCE_AT,GUID_DOG_ACP_POSBL_AT,BRLL_GUID_AT,KLANG_VIC_GUID_AT,PARKNG_AT,DGSTFN,GENDER,AGE_GRP,TRAVEL_STYL_5,TRAVEL_STYL_6,TRAVEL_STYL_7,TRAVEL_STYL_8,TRAVEL_COMPANIONS_NUM
0,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,0,40,3,5,2,6,1
1,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,0,20,2,3,2,6,1
2,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,0,20,6,4,2,6,3
3,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,1,30,5,3,3,7,1
4,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,1,40,4,4,4,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1997,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,4.0,1,40,5,2,7,5,4
1998,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,5.0,0,30,3,2,5,7,0
1999,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,4.0,0,30,7,7,1,7,3
2000,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,3.0,1,30,5,3,6,2,1
2001,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,4.0,0,50,2,4,2,6,1

In [66]:
df[['WCHAIR_HOLD_AT','DSPSN_TOILET_AT','DSPSN_PRKPLCE_AT','GUID_DOG_ACP_POSBL_AT','BRLL_GUID_AT','KLANG_VIC_GUID_AT','AGE_GRP',
    'TRAVEL_STYL_5','TRAVEL_STYL_6','TRAVEL_STYL_7','TRAVEL_STYL_8',
    'TRAVEL_COMPANIONS_NUM','GENDER']] = df[['WCHAIR_HOLD_AT','DSPSN_TOILET_AT','DSPSN_PRKPLCE_AT','GUID_DOG_ACP_POSBL_AT','BRLL_GUID_AT','KLANG_VIC_GUID_AT','AGE_GRP',
    'TRAVEL_STYL_5','TRAVEL_STYL_6','TRAVEL_STYL_7','TRAVEL_STYL_8',
    'TRAVEL_COMPANIONS_NUM','GENDER']].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2002 entries, 0 to 2001
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   FCLTY_NM               2002 non-null   object
 1   CTGRY_THREE_NM         2002 non-null   object
 2   WCHAIR_HOLD_AT         2002 non-null   int32
 3   DSPSN_TOILET_AT        2002 non-null   int32
 4   DSPSN_PRKPLCE_AT       2002 non-null   int32
 5   GUID_DOG_ACP_POSBL_AT  2002 non-null   int32
 6   BRLL_GUID_AT           2002 non-null   int32
 7   KLANG_VIC_GUID_AT      2002 non-null   int32
 8   PARKNG_AT              2002 non-null   int64
 9   DGSTFN                 2002 non-null   float64
 10  GENDER                 2002 non-null   int32
 11  AGE_GRP                2002 non-null   int32
 12  TRAVEL_STYL_5          2002 non-null   int32
 13  TRAVEL_STYL_6          2002 non-null   int32
 14  TRAVEL_STYL_7          2002 non-null   int32
 15  TRAVEL_STYL_8          2002 non-null   int32
 16  TRAVEL_COMPANIONS_NUM  2002 non-null   int32
dtypes: float64(1), int32(13), int64(1), object(2)
memory usage: 164.4+ KB

In [67]:
from catboost import Pool
from sklearn.model_selection import train_test_split
df['FCLTY_NM'] = df['FCLTY_NM'].astype(str)

X = df[['GENDER', 'AGE_GRP', 'TRAVEL_STYL_5',
       'TRAVEL_STYL_6', 'TRAVEL_STYL_7', 'TRAVEL_STYL_8',
       'TRAVEL_COMPANIONS_NUM','FCLTY_NM']]
y = df['DGSTFN']

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.2)

cat_features = ['GENDER', 'AGE_GRP', 'TRAVEL_STYL_5','TRAVEL_STYL_6',
                'TRAVEL_STYL_7', 'TRAVEL_STYL_8', 'FCLTY_NM']

# 범주형 데이터 처리를 위한 Pool객체 생성
X_train_pool = Pool(X_train, y_train, cat_features = cat_features)
X_test_pool = Pool(X_test, y_test, cat_features = cat_features)

In [68]:
from catboost import CatBoostRegressor
cb_reg = CatBoostRegressor(
    n_estimators = 5000,
    depth = 5,
    learning_rate = .03,
    loss_function = 'RMSE',
    eval_metric = 'RMSE',
    l2_leaf_reg = 10,
    early_stopping_rounds = 200,
    random_state = 0
)

In [69]:
cb_reg.fit(X_train_pool, eval_set = X_test_pool, verbose = 100)

0:	learn: 0.7312926	test: 0.8321009	best: 0.8321009 (0)	total: 27.6ms	remaining: 2m 17s
100:	learn: 0.7036077	test: 0.8076474	best: 0.8076474 (100)	total: 1.5s	remaining: 1m 12s
200:	learn: 0.6889580	test: 0.7981296	best: 0.7981153 (198)	total: 2.85s	remaining: 1m 7s
300:	learn: 0.6773832	test: 0.7931215	best: 0.7929697 (297)	total: 4.05s	remaining: 1m 3s
400:	learn: 0.6674886	test: 0.7903251	best: 0.7902894 (388)	total: 5.21s	remaining: 59.7s
500:	learn: 0.6573967	test: 0.7886414	best: 0.7885868 (498)	total: 6.35s	remaining: 57.1s
600:	learn: 0.6469601	test: 0.7884971	best: 0.7877479 (557)	total: 8.01s	remaining: 58.6s
700:	learn: 0.6388167	test: 0.7886318	best: 0.7877479 (557)	total: 9.21s	remaining: 56.5s
800:	learn: 0.6307317	test: 0.7869073	best: 0.7867771 (782)	total: 10.4s	remaining: 54.5s
900:	learn: 0.6224442	test: 0.7867826	best: 0.7864621 (882)	total: 11.6s	remaining: 52.7s
1000:	learn: 0.6128202	test: 0.7859669	best: 0.7859669 (1000)	total: 13.6s	remaining: 54.4s
1100:	learn: 0.6050848	test: 0.7859628	best: 0.7856331 (1023)	total: 14.9s	remaining: 52.9s
1200:	learn: 0.5975281	test: 0.7854729	best: 0.7851789 (1166)	total: 16.3s	remaining: 51.5s
1300:	learn: 0.5902001	test: 0.7847312	best: 0.7847160 (1290)	total: 17.5s	remaining: 49.8s
1400:	learn: 0.5838055	test: 0.7844971	best: 0.7844215 (1314)	total: 18.8s	remaining: 48.4s
1500:	learn: 0.5767948	test: 0.7845301	best: 0.7841962 (1410)	total: 20.1s	remaining: 46.9s
1600:	learn: 0.5702212	test: 0.7846620	best: 0.7841962 (1410)	total: 21.3s	remaining: 45.2s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.7841962018
bestIteration = 1410

Shrink model to first 1411 iterations.

In [70]:
importances_df = pd.DataFrame({
    'columns' : X_train.columns,
    'importance' : cb_reg.feature_importances_
})
    
importances_df.sort_values(by = 'importance', ascending = False)

                 columns  importance
3          TRAVEL_STYL_6   17.003909
7               FCLTY_NM   16.814643
5          TRAVEL_STYL_8   16.785336
2          TRAVEL_STYL_5   16.352694
4          TRAVEL_STYL_7   14.577081
1                AGE_GRP   14.467868
6  TRAVEL_COMPANIONS_NUM    2.672488
0                 GENDER    1.325982

In [71]:
# 예측평점 df

import unicodedata

# 유니코드 정규화 적용 후 고유 값 확인
df['FCLTY_NM'] = df['FCLTY_NM'].apply(lambda x: unicodedata.normalize('NFKC', str(x)).strip())
places = list(df['FCLTY_NM'].unique())

In [72]:
dgstfn_pred_df = pd.DataFrame(index=X_train.index, columns=places)

In [73]:
predicted_dgstfn = cb_reg.predict(X_train_pool)

for place in places:
    dgstfn_pred_df[place] = predicted_dgstfn

In [74]:
def recommend(gender, age_group, comp_num, styl5, styl6, styl7, styl8, topn):

    user_features = pd.DataFrame({
        'GENDER': [gender],
        'AGE_GRP': [age_group],
        'TRAVEL_STYL_5': [styl5],
        'TRAVEL_STYL_6': [styl6],
        'TRAVEL_STYL_7': [styl7],
        'TRAVEL_STYL_8': [styl8],
        'TRAVEL_COMPANIONS_NUM': [comp_num]
    })

    pred_stfn = {}
    
    for place in places:
        user_features_place = user_features.copy()  
        user_features_place['FCLTY_NM'] = place 

        user_pool_place = Pool(user_features_place, cat_features=cat_features + ['FCLTY_NM'])
        
        stfn = cb_reg.predict(user_pool_place)[0]
        stfn=round(stfn,3)
        pred_stfn[place] = stfn

    sorted_recommendations = sorted(pred_stfn.items(), key=lambda x: x[1], reverse=True)[:topn]
    result_df = pd.DataFrame(sorted_recommendations, columns=['FCLTY_NM', 'stfn_pred'])
    
    return result_df

In [75]:
recommend(1,50,2,1,1,2,2,50)

       FCLTY_NM  stfn_pred
0        함덕해수욕장      4.449
1          섭지코지      4.319
2        9.81파크      4.294
3        협재해수욕장      4.283
4       오설록티뮤지엄      4.270
5            숨도      4.259
6         포도뮤지엄      4.248
7        김녕해수욕장      4.247
8      에코랜드테마파크      4.245
9         카멜리아힐      4.239
10      제주아트서커스      4.238
11         더마파크      4.237
12        본태박물관      4.236
13          비자림      4.235
14      교래자연휴양림      4.234
15    제주항공우주박물관      4.222
16       남원큰엉해변      4.219
17      국립제주박물관      4.212
18       금능해수욕장      4.204
19   너븐숭이4.3기념관      4.201
20        고흐의정원      4.200
21        한라수목원      4.196
22    제주곶자왈도립공원      4.193
23      제주항일기념관      4.183
24    제주커피박물관바움      4.181
25      국제리더스클럽      4.178
26          만장굴      4.176
27      절물자연휴양림      4.176
28   제주도립김창열미술관      4.176
29    화순금모래해수욕장      4.175
30    제주4.3평화공원      4.168
31      아프리카박물관      4.166
32    제주해양동물박물관      4.166
33    서프라이즈테마파크      4.165
34       김녕요트투어      4.164
35      제주학생문화원      4.163
36  제주영상문화산업진흥원      4.162
37          화조원      4.151
38      소인국테마파크      4.150
39       제주불빛정원      4.144
40         라온GC      4.143
41        기당미술관      4.142
42      제주도립미술관      4.142
43        새별프렌즈      4.137
44         사계해안      4.132
45     갤러리2중선농원      4.131
46   대정현역사자료전시관      4.131
47       세계술박물관      4.131
48       애월해안도로      4.131
49        핀크스GC      4.131

In [86]:
def predict_stfn(gender, age_group, comp_num, styl5, styl6, styl7, styl8):

    user_features = pd.DataFrame({
        'GENDER': [gender],
        'AGE_GRP': [age_group],
        'TRAVEL_STYL_5': [styl5],
        'TRAVEL_STYL_6': [styl6],
        'TRAVEL_STYL_7': [styl7],
        'TRAVEL_STYL_8': [styl8],
        'TRAVEL_COMPANIONS_NUM': [comp_num]
    })

    pred_stfn = {}
    
    for place in places:
        user_features_place = user_features.copy()  
        user_features_place['FCLTY_NM'] = place 

        user_pool_place = Pool(user_features_place, cat_features=cat_features + ['FCLTY_NM'])
        
        stfn = cb_reg.predict(user_pool_place)[0]
        stfn=round(stfn,3)
        pred_stfn[place] = stfn

    sorted_recommendations = sorted(pred_stfn.items(), key=lambda x: x[1], reverse=True)
    result_df = pd.DataFrame(sorted_recommendations, columns=['FCLTY_NM', 'stfn_pred'])
    
    return result_df

In [87]:
# recommend_2(1,50,2,1,1,2,3)
predict_stfn(1,20,2,1,4,5,4)

          FCLTY_NM  stfn_pred
0           함덕해수욕장      4.597
1            본태박물관      4.579
2         에코랜드테마파크      4.573
3        제주곶자왈도립공원      4.562
4             더마파크      4.560
..             ...        ...
103       그리스신화박물관      4.190
104         노형근린공원      4.190
105           새별오름      4.190
106          소암기념관      4.190
107  수목원테마파크아이스뮤지엄      4.190

[108 rows x 2 columns]

In [89]:
import pandas as pd
import unicodedata
from itertools import combinations
from sklearn.metrics.pairwise import cosine_similarity
from gensim.models import KeyedVectors

main_df=pd.read_csv('./data/main_data.csv')
kv_model = KeyedVectors.load("./data/small_fasttext_model.kv")

main_df['CTGRY_TWO_NM'] = main_df['CTGRY_TWO_NM'].apply(lambda x: unicodedata.normalize('NFKC', x))
unique_values_two = main_df['CTGRY_TWO_NM'].unique()
ct_sim = pd.DataFrame(index=unique_values_two, columns=unique_values_two)

# 모든 단어 쌍에 대해 유사도 계산
for word1 in unique_values_two:
    for word2 in unique_values_two:
        # 두 단어가 모두 모델에 있을 때만 유사도 계산
        if word1 in kv_model and word2 in kv_model:
            # 벡터 추출
            vec1 = kv_model[word1].reshape(1, -1)
            vec2 = kv_model[word2].reshape(1, -1)
            # 코사인 유사도 계산
            similarity = cosine_similarity(vec1, vec2)[0][0]
            ct_sim.loc[word1, word2] = similarity

def place_sim(selected_category, ct_sim, main_df):
    # 선택된 카테고리의 유사도 순으로 정렬
    sim_scores = ct_sim[selected_category].sort_values(ascending=False)
    recommended_places = []  # 추천할 장소 리스트
    category_similarity = {}  # 추천 장소와 유사도 저장할 딕셔너리

    # 유사도가 높은 카테고리부터 장소 추천
    for category in sim_scores.index:  
        facilities = main_df[main_df['CTGRY_TWO_NM'] == category]['FCLTY_NM']

        for fclty in facilities:
            if fclty not in recommended_places:  # 중복된 장소 제외
                recommended_places.append(fclty)
                # 선택된 카테고리와 유사 카테고리의 유사도 저장
                similarity = ct_sim[selected_category][category]
                similarity=round(similarity,3)
                if similarity==1:
                    similarity=0.70
                category_similarity[fclty] = similarity
                
    # 추천 장소와 유사도를 데이터프레임으로 변환
    recommendations_df = pd.DataFrame(list(category_similarity.items()), columns=['FCLTY_NM', 'similarity'])
    return recommendations_df

In [90]:
place_sim('대형체육시설',ct_sim,main_df)

      FCLTY_NM  similarity
0     강창학종합경기장       0.700
1     제주월드컵경기장       0.700
2      제주종합경기장       0.700
3      국제리더스클럽       0.575
4       김녕요트투어       0.575
..         ...         ...
103   훈데르트바서파크       0.207
104     노형근린공원       0.139
105  제주4.3평화공원       0.139
106  제주곶자왈도립공원       0.139
107      한라생태숲       0.139

[108 rows x 2 columns]

In [80]:
def combine_recommendations(gender, age_group, comp_num, styl5, styl6, styl7, styl8, selected_category, ct_sim, main_df):
    reg_df = recommend_2(gender, age_group, comp_num, styl5, styl6, styl7, styl8)
    content_df = place_sim(selected_category, ct_sim, main_df)
    # 유사도에 맞추어 평점 정규화 (1~5) -> (0~1)
    reg_df['stfn_pred_normalized'] = (reg_df['stfn_pred'] - 1) / (5 - 1)
    content_df['similarity_normalized'] = content_df['similarity'] 

    combined_df = pd.merge(reg_df, content_df, on='FCLTY_NM', how='inner')
    combined_df['final_score'] = combined_df['stfn_pred_normalized'] * 0.8 + combined_df['similarity_normalized'] * 0.2
    final_recommendations = combined_df.sort_values(by='final_score', ascending=False).reset_index(drop=True)
    
    return final_recommendations
    # return final_recommendations

In [81]:
# combine_recommendations(gender, age_group, comp_num, styl5, styl6, styl7, styl8, selected_category, ct_sim, main_df, cb_reg, places, cat_features)
final_recommendations = combine_recommendations(0,40,6,2,5,4,1,'전시/기념관',ct_sim, main_df)

In [82]:
final_recommendations

,FCLTY_NM,stfn_pred,stfn_pred_normalized,similarity,similarity_normalized,final_score
0,포도뮤지엄,4.631,0.90775,0.700,0.700,0.8662
1,해녀박물관,4.620,0.90500,0.700,0.700,0.8640
2,숨도,4.595,0.89875,0.700,0.700,0.8590
3,제주항공우주박물관,4.580,0.89500,0.700,0.700,0.8560
4,본태박물관,4.573,0.89325,0.700,0.700,0.8546
...,...,...,...,...,...,...
103,웅지승마센터,4.377,0.84425,0.068,0.068,0.6890
104,혼인지,4.377,0.84425,0.068,0.068,0.6890
105,일출랜드,4.376,0.84400,0.068,0.068,0.6888
106,금능석물원,4.369,0.84225,0.068,0.068,0.6874
107,윈드1947카트테마파크,4.351,0.83775,0.068,0.068,0.6838

In [83]:
def print_recommendations(final_recommendations, main_df):

    barrier_free_columns = [
        'BRLL_GUID_AT',          # 점자 안내 여부
        'GUID_DOG_ACP_POSBL_AT', # 안내견 출입 가능 여부
        'DSPSN_TOILET_AT',       # 장애인 화장실 여부
        'WCHAIR_HOLD_AT',        # 휠체어 보유 여부
        'DSPSN_PRKPLCE_AT',      # 장애인 주차장 여부
        'KLANG_VIC_GUID_AT'      # 한국어 음성 안내 여부
    ]

    # 필터링 옵션 설정
    filter_brll_guid_at = True
    filter_guid_dog_acp_posbl_at = True
    filter_dspsn_toilet_at = False
    filter_wchair_hold_at = False
    filter_dspsn_prkplce_at = False
    filter_klang_vic_guid_at = False

    # final_recommendations와 main_df를 병합하여 배리어 프리 정보 추가
    combined_df = pd.merge(final_recommendations, main_df[['FCLTY_NM'] + barrier_free_columns], on='FCLTY_NM', how='left')

    # 조건에 맞춰 필터링 적용 (combined_df를 사용)
    if filter_brll_guid_at:
        idx = combined_df[combined_df['BRLL_GUID_AT'] == 0].index
        combined_df = combined_df.drop(idx)
        combined_df.reset_index(drop=True, inplace=True)

    if filter_guid_dog_acp_posbl_at:
        idx = combined_df[combined_df['GUID_DOG_ACP_POSBL_AT'] == 0].index
        combined_df = combined_df.drop(idx)
        combined_df.reset_index(drop=True, inplace=True)

    if filter_wchair_hold_at:
        idx = combined_df[combined_df['WCHAIR_HOLD_AT'] == 0].index
        combined_df = combined_df.drop(idx)
        combined_df.reset_index(drop=True, inplace=True)

    if filter_dspsn_toilet_at:
        idx = combined_df[combined_df['DSPSN_TOILET_AT'] == 0].index
        combined_df = combined_df.drop(idx)
        combined_df.reset_index(drop=True, inplace=True)

    if filter_dspsn_prkplce_at:
        idx = combined_df[combined_df['DSPSN_PRKPLCE_AT'] == 0].index
        combined_df = combined_df.drop(idx)
        combined_df.reset_index(drop=True, inplace=True)

    if filter_klang_vic_guid_at:
        idx = combined_df[combined_df['KLANG_VIC_GUID_AT'] == 0].index
        combined_df = combined_df.drop(idx)
        combined_df.reset_index(drop=True, inplace=True)

    filtered_recommendations = combined_df.drop_duplicates(subset='FCLTY_NM')['FCLTY_NM'].head(10).reset_index(drop=True)

    return filtered_recommendations

In [84]:
print_recommendations(final_recommendations, main_df)

0       제주항공우주박물관
1         국립제주박물관
2      너븐숭이4.3기념관
3         제주현대미술관
4          김만덕기념관
5         제주도립미술관
6    ICC제주국제컨벤션센터
7        그리스신화박물관
8          남원큰엉해변
9      선녀와나무꾼테마공원
Name: FCLTY_NM, dtype: object

In [85]:
final_recommendations.shape, main_df.shape

((108, 6), (2002, 26))