# 주제: 전국 배리어프리 문화예술관광지
(https://www.bigdata-culture.kr/bigdata/user/data_market/detail.do?id=573acce0-0337-11ee-a67e-69239d37dfae)
### 컬럼명 설명
- FCLTY_NM	시설명
- MRHST_NM	가맹점명
- CTGRY_ONE_NM	카테고리1명_레저/ 문화광관/ 전시 등
- CTGRY_TWO_NM	카테고리2명_공원/ 관광지/ 레저시설/ 영화/ 전시 등
- CTGRY_THREE_NM	카테고리3명_경마장/ 골프장/ 미술관 등
- CTPRVN_NM	시도명
- SIGNGU_NM	시군구명
- EMD_NM	읍면동명
- LI_NM	리명
- LNBR_NO	번지번호
- ROAD_NM	도로명
- BULD_NO	건물번호
- LC_LA	위치위도
- LC_LO	위치경도
- ZIP_NO	우편번호
- RDNMADR_NM	도로명주소명
- LNM_ADDR	지번주소
- TEL_NO	전화번호
- HMPG_URL	홈페이지URL
- BLOG_URL	블로그URL
- FACEBOOK_URL	페이스북URL
- INSTGRM_URL	인스타그램URL
- RSTDE_GUID_CN	휴무일안내내용
- OPER_TIME	운영시간
- FRE_PARKNG_AT	무료주차여부
- CHGD_PARKNG_AT	유료주차여부
- ENTRN_PRICE_AT	입장금액여부
- DSPSN_TOILET_ATMC_DOOR_AT	장애인화장실자동문여부
- WCHAIR_HOLD_AT	휠체어보유여부
- DSPSN_TOILET_AT	장애인화장실여부
- DSPSN_PRKPLCE_AT	장애인주차장여부
- LRGE_PARKNG_POSBL_AT	대주차가능여부
- GUID_DOG_ACP_POSBL_AT	안내견동반가능여부
- BRLL_GUID_AT	점자안내여부
- KLANG_VIC_GUID_AT	한국어음성안내여부
- LAST_UPDT_DE	최종수정일자

In [186]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [187]:
import matplotlib.pyplot as plt
import matplotlib
import matplotlib.font_manager as fm

# 폰트 설정
font_path = 'C:\\Windows\\Fonts\\gulim.ttc'
font = fm.FontProperties(fname=font_path).get_name()
matplotlib.rc('font', family=font)

In [188]:
df = pd.read_csv('./data/main_data.csv')

In [189]:
from sklearn.preprocessing import LabelEncoder

gender = df['GENDER']

encoder = LabelEncoder()
encoded_gender = encoder.fit_transform(gender)

df['GENDER'] = encoded_gender
df = df.drop(['CTGRY_ONE_NM','CTGRY_TWO_NM','SIGNGU_NM','FCLTY_ID','TRAVEL_ID','TRAVEL_STYL_1','TRAVEL_STYL_2','TRAVEL_STYL_3','TRAVEL_STYL_4'], axis = 1)

In [190]:
df

,FCLTY_NM,CTGRY_THREE_NM,WCHAIR_HOLD_AT,DSPSN_TOILET_AT,DSPSN_PRKPLCE_AT,GUID_DOG_ACP_POSBL_AT,BRLL_GUID_AT,KLANG_VIC_GUID_AT,PARKNG_AT,DGSTFN,GENDER,AGE_GRP,TRAVEL_STYL_5,TRAVEL_STYL_6,TRAVEL_STYL_7,TRAVEL_STYL_8,TRAVEL_COMPANIONS_NUM
0,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,0,40,3,5,2,6,1
1,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,0,20,2,3,2,6,1
2,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,0,20,6,4,2,6,3
3,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,1,30,5,3,3,7,1
4,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,1,40,4,4,4,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1997,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,4.0,1,40,5,2,7,5,4
1998,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,5.0,0,30,3,2,5,7,0
1999,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,4.0,0,30,7,7,1,7,3
2000,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,3.0,1,30,5,3,6,2,1
2001,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,4.0,0,50,2,4,2,6,1

In [191]:
df[['WCHAIR_HOLD_AT','DSPSN_TOILET_AT','DSPSN_PRKPLCE_AT','GUID_DOG_ACP_POSBL_AT','BRLL_GUID_AT','KLANG_VIC_GUID_AT','AGE_GRP',
    'TRAVEL_STYL_5','TRAVEL_STYL_6','TRAVEL_STYL_7','TRAVEL_STYL_8',
    'TRAVEL_COMPANIONS_NUM','GENDER']] = df[['WCHAIR_HOLD_AT','DSPSN_TOILET_AT','DSPSN_PRKPLCE_AT','GUID_DOG_ACP_POSBL_AT','BRLL_GUID_AT','KLANG_VIC_GUID_AT','AGE_GRP',
    'TRAVEL_STYL_5','TRAVEL_STYL_6','TRAVEL_STYL_7','TRAVEL_STYL_8',
    'TRAVEL_COMPANIONS_NUM','GENDER']].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2002 entries, 0 to 2001
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   FCLTY_NM               2002 non-null   object
 1   CTGRY_THREE_NM         2002 non-null   object
 2   WCHAIR_HOLD_AT         2002 non-null   int32
 3   DSPSN_TOILET_AT        2002 non-null   int32
 4   DSPSN_PRKPLCE_AT       2002 non-null   int32
 5   GUID_DOG_ACP_POSBL_AT  2002 non-null   int32
 6   BRLL_GUID_AT           2002 non-null   int32
 7   KLANG_VIC_GUID_AT      2002 non-null   int32
 8   PARKNG_AT              2002 non-null   int64
 9   DGSTFN                 2002 non-null   float64
 10  GENDER                 2002 non-null   int32
 11  AGE_GRP                2002 non-null   int32
 12  TRAVEL_STYL_5          2002 non-null   int32
 13  TRAVEL_STYL_6          2002 non-null   int32
 14  TRAVEL_STYL_7          2002 non-null   int32
 15  TRAVEL_STYL_8          2002 non-null   int32
 16  TRAVEL_COMPANIONS_NUM  2002 non-null   int32
dtypes: float64(1), int32(13), int64(1), object(2)
memory usage: 164.4+ KB

In [192]:
from catboost import Pool
from sklearn.model_selection import train_test_split
df['FCLTY_NM'] = df['FCLTY_NM'].astype(str)

X = df[['GENDER', 'AGE_GRP', 'TRAVEL_STYL_5',
       'TRAVEL_STYL_6', 'TRAVEL_STYL_7', 'TRAVEL_STYL_8',
       'TRAVEL_COMPANIONS_NUM','FCLTY_NM']]
y = df['DGSTFN']

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.2)

cat_features = ['GENDER', 'AGE_GRP', 'TRAVEL_STYL_5','TRAVEL_STYL_6',
                'TRAVEL_STYL_7', 'TRAVEL_STYL_8', 'FCLTY_NM']

# 범주형 데이터 처리를 위한 Pool객체 생성
X_train_pool = Pool(X_train, y_train, cat_features = cat_features)
X_test_pool = Pool(X_test, y_test, cat_features = cat_features)

In [193]:
from catboost import CatBoostRegressor
cb_reg = CatBoostRegressor(
    n_estimators = 5000,
    depth = 5,
    learning_rate = .02,
    loss_function = 'RMSE',
    eval_metric = 'RMSE',
    l2_leaf_reg = 10,
    early_stopping_rounds = 200,
    random_state = 0
)

In [194]:
cb_reg.fit(X_train_pool, eval_set = X_test_pool, verbose = 100)

0:	learn: 0.7645724	test: 0.7011470	best: 0.7011470 (0)	total: 20.5ms	remaining: 1m 42s
100:	learn: 0.7355704	test: 0.6875233	best: 0.6875233 (100)	total: 2.39s	remaining: 1m 55s
200:	learn: 0.7198270	test: 0.6833159	best: 0.6832529 (199)	total: 4.51s	remaining: 1m 47s
300:	learn: 0.7084412	test: 0.6820405	best: 0.6819376 (263)	total: 6.94s	remaining: 1m 48s
400:	learn: 0.7005555	test: 0.6808193	best: 0.6806840 (385)	total: 9.04s	remaining: 1m 43s
500:	learn: 0.6931387	test: 0.6795536	best: 0.6795190 (499)	total: 11.5s	remaining: 1m 43s
600:	learn: 0.6868817	test: 0.6794832	best: 0.6793967 (531)	total: 13.7s	remaining: 1m 40s
700:	learn: 0.6798401	test: 0.6788490	best: 0.6786503 (689)	total: 15.9s	remaining: 1m 37s
800:	learn: 0.6722858	test: 0.6789184	best: 0.6785059 (743)	total: 18.4s	remaining: 1m 36s
900:	learn: 0.6652559	test: 0.6792432	best: 0.6785059 (743)	total: 20.6s	remaining: 1m 33s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.6785058574
bestIteration = 743

Shrink model to first 744 iterations.

In [195]:
importances_df = pd.DataFrame({
    'columns' : X_train.columns,
    'importance' : cb_reg.feature_importances_
})
    
importances_df.sort_values(by = 'importance', ascending = False)

                 columns  importance
7               FCLTY_NM   17.470175
5          TRAVEL_STYL_8   17.309799
3          TRAVEL_STYL_6   16.149109
1                AGE_GRP   15.467924
2          TRAVEL_STYL_5   15.228072
4          TRAVEL_STYL_7   13.855878
6  TRAVEL_COMPANIONS_NUM    3.310329
0                 GENDER    1.208715

In [196]:
# 예측평점 df

import unicodedata

# 유니코드 정규화 적용 후 고유 값 확인
df['FCLTY_NM'] = df['FCLTY_NM'].apply(lambda x: unicodedata.normalize('NFKC', str(x)).strip())
places = list(df['FCLTY_NM'].unique())

In [197]:
dgstfn_pred_df = pd.DataFrame(index=X_train.index, columns=places)

In [198]:
for place in places:
    X_train_place = X_train.copy()
    
    predicted_dgstfn = cb_reg.predict(X_train_pool)
    
    dgstfn_pred_df[place] = predicted_dgstfn
    
dgstfn_pred_df

,9.81파크,강창학종합경기장,갤러리2중선농원,건강과성박물관,고흐의정원,교래자연휴양림,국립제주박물관,국제리더스클럽,그리스신화박물관,금능석물원,...,한림공원,함덕해수욕장,해녀박물관,헬로키티아일랜드,협재해수욕장,혼인지,화순금모래해수욕장,화조원,훈데르트바서파크,ICC제주국제컨벤션센터
1336,4.537218,4.537218,4.537218,4.537218,4.537218,4.537218,4.537218,4.537218,4.537218,4.537218,...,4.537218,4.537218,4.537218,4.537218,4.537218,4.537218,4.537218,4.537218,4.537218,4.537218
634,4.266991,4.266991,4.266991,4.266991,4.266991,4.266991,4.266991,4.266991,4.266991,4.266991,...,4.266991,4.266991,4.266991,4.266991,4.266991,4.266991,4.266991,4.266991,4.266991,4.266991
1278,4.053969,4.053969,4.053969,4.053969,4.053969,4.053969,4.053969,4.053969,4.053969,4.053969,...,4.053969,4.053969,4.053969,4.053969,4.053969,4.053969,4.053969,4.053969,4.053969,4.053969
1832,4.542601,4.542601,4.542601,4.542601,4.542601,4.542601,4.542601,4.542601,4.542601,4.542601,...,4.542601,4.542601,4.542601,4.542601,4.542601,4.542601,4.542601,4.542601,4.542601,4.542601
1254,4.527342,4.527342,4.527342,4.527342,4.527342,4.527342,4.527342,4.527342,4.527342,4.527342,...,4.527342,4.527342,4.527342,4.527342,4.527342,4.527342,4.527342,4.527342,4.527342,4.527342
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
803,4.253748,4.253748,4.253748,4.253748,4.253748,4.253748,4.253748,4.253748,4.253748,4.253748,...,4.253748,4.253748,4.253748,4.253748,4.253748,4.253748,4.253748,4.253748,4.253748,4.253748
1499,4.766924,4.766924,4.766924,4.766924,4.766924,4.766924,4.766924,4.766924,4.766924,4.766924,...,4.766924,4.766924,4.766924,4.766924,4.766924,4.766924,4.766924,4.766924,4.766924,4.766924
1903,4.609220,4.609220,4.609220,4.609220,4.609220,4.609220,4.609220,4.609220,4.609220,4.609220,...,4.609220,4.609220,4.609220,4.609220,4.609220,4.609220,4.609220,4.609220,4.609220,4.609220
557,4.157778,4.157778,4.157778,4.157778,4.157778,4.157778,4.157778,4.157778,4.157778,4.157778,...,4.157778,4.157778,4.157778,4.157778,4.157778,4.157778,4.157778,4.157778,4.157778,4.157778
595,4.381313,4.381313,4.381313,4.381313,4.381313,4.381313,4.381313,4.381313,4.381313,4.381313,...,4.381313,4.381313,4.381313,4.381313,4.381313,4.381313,4.381313,4.381313,4.381313,4.381313

In [247]:
def recommend(gender, age_group, comp_num, styl5, styl6, styl7, styl8, topn):

    user_features = pd.DataFrame({
        'GENDER': [gender],
        'AGE_GRP': [age_group],
        'TRAVEL_STYL_5': [styl5],
        'TRAVEL_STYL_6': [styl6],
        'TRAVEL_STYL_7': [styl7],
        'TRAVEL_STYL_8': [styl8],
        'TRAVEL_COMPANIONS_NUM': [comp_num]
    })

    pred_stfn = {}
    
    for place in places:
        user_features_place = user_features.copy()  
        user_features_place['FCLTY_NM'] = place 

        user_pool_place = Pool(user_features_place, cat_features=cat_features + ['FCLTY_NM'])
        
        stfn = cb_reg.predict(user_pool_place)[0]
        stfn=round(stfn,3)
        pred_stfn[place] = stfn

    sorted_recommendations = sorted(pred_stfn.items(), key=lambda x: x[1], reverse=True)[:topn]
    result_df = pd.DataFrame(sorted_recommendations, columns=['FCLTY_NM', 'stfn_pred'])
    
    return result_df

In [248]:
recommend(1,50,2,1,1,2,2,50)

               FCLTY_NM  stfn_pred
0                함덕해수욕장      4.233
1               국립제주박물관      4.118
2              에코랜드테마파크      4.114
3                  더마파크      4.110
4            제주도립김창열미술관      4.103
5                 고흐의정원      4.096
6               교래자연휴양림      4.096
7             제주4.3평화공원      4.095
8                9.81파크      4.091
9               제주항일기념관      4.080
10                포도뮤지엄      4.076
11               협재해수욕장      4.068
12              국제리더스클럽      4.066
13           너븐숭이4.3기념관      4.059
14               김녕해수욕장      4.053
15              제주아트서커스      4.052
16               김녕요트투어      4.051
17               남원큰엉해변      4.045
18            서프라이즈테마파크      4.042
19            제주코코몽에코파크      4.032
20                서복전시관      4.030
21                 빛의벙커      4.027
22                  우도봉      4.023
23               제주신화월드      4.014
24                본태박물관      4.010
25            붉은오름자연휴양림      4.004
26              아프리카박물관      4.004
27          제주영상문화산업진흥원      4.004
28              제주학생문화원      4.004
29              절물자연휴양림      3.999
30              오설록티뮤지엄      3.996
31                성산일출봉      3.991
32              제주돌문화공원      3.991
33            제주항공우주박물관      3.985
34            제주커피박물관바움      3.978
35               여미지식물원      3.976
36  제주4.3평화공원제주4.3평화기념관      3.973
37             제주월드컵경기장      3.970
38                한라생태숲      3.968
39              소인국테마파크      3.966
40               제주불빛정원      3.965
41             갤러리2중선농원      3.960
42           대정현역사자료전시관      3.960
43        바이나흐튼크리스마스박물관      3.960
44                 사계해안      3.960
45               애월해안도로      3.960
46            제주차귀도요트투어      3.960
47                핀크스GC      3.960
48            제주곶자왈도립공원      3.955
49               금능해수욕장      3.954

In [249]:
def recommend_2(gender, age_group, comp_num, styl5, styl6, styl7, styl8):

    user_features = pd.DataFrame({
        'GENDER': [gender],
        'AGE_GRP': [age_group],
        'TRAVEL_STYL_5': [styl5],
        'TRAVEL_STYL_6': [styl6],
        'TRAVEL_STYL_7': [styl7],
        'TRAVEL_STYL_8': [styl8],
        'TRAVEL_COMPANIONS_NUM': [comp_num]
    })

    pred_stfn = {}
    
    for place in places:
        user_features_place = user_features.copy()  
        user_features_place['FCLTY_NM'] = place 

        user_pool_place = Pool(user_features_place, cat_features=cat_features + ['FCLTY_NM'])
        
        stfn = cb_reg.predict(user_pool_place)[0]
        stfn=round(stfn,3)
        pred_stfn[place] = stfn

    sorted_recommendations = sorted(pred_stfn.items(), key=lambda x: x[1], reverse=True)
    result_df = pd.DataFrame(sorted_recommendations, columns=['FCLTY_NM', 'stfn_pred'])
    
    return result_df

In [250]:
# recommend_2(1,50,2,1,1,2,3)
recommend_2(1,20,2,1,4,5,4)

     FCLTY_NM  stfn_pred
0      함덕해수욕장      4.632
1      9.81파크      4.620
2      김녕해수욕장      4.610
3    에코랜드테마파크      4.608
4       포도뮤지엄      4.604
..        ...        ...
103   건강과성박물관      4.331
104   샤인빌파크CC      4.319
105  그리스신화박물관      4.310
106   서귀포치유의숲      4.283
107      라온GC      4.250

[108 rows x 2 columns]

In [240]:
import pandas as pd
import unicodedata
from itertools import combinations
from sklearn.metrics.pairwise import cosine_similarity
from gensim.models import KeyedVectors

main_df=pd.read_csv('./data/main_data.csv')
kv_model = KeyedVectors.load("./data/small_fasttext_model.kv")

main_df['CTGRY_TWO_NM'] = main_df['CTGRY_TWO_NM'].apply(lambda x: unicodedata.normalize('NFKC', x))
unique_values_two = main_df['CTGRY_TWO_NM'].unique()
ct_sim = pd.DataFrame(index=unique_values_two, columns=unique_values_two)

# 모든 단어 쌍에 대해 유사도 계산
for word1 in unique_values_two:
    for word2 in unique_values_two:
        # 두 단어가 모두 모델에 있을 때만 유사도 계산
        if word1 in kv_model and word2 in kv_model:
            # 벡터 추출
            vec1 = kv_model[word1].reshape(1, -1)
            vec2 = kv_model[word2].reshape(1, -1)
            # 코사인 유사도 계산
            similarity = cosine_similarity(vec1, vec2)[0][0]
            ct_sim.loc[word1, word2] = similarity
        else:
            ct_sim.loc[word1, word2] = np.nan  # 모델에 없는 단어는 NaN 처리

def place_sim(selected_category, ct_sim, main_df):
    # 선택된 카테고리의 유사도 순으로 정렬
    sim_scores = ct_sim[selected_category].sort_values(ascending=False)
    recommended_places = []  # 추천할 장소 리스트
    category_similarity = {}  # 추천 장소와 유사도 저장할 딕셔너리

    # 유사도가 높은 카테고리부터 장소 추천
    for category in sim_scores.index:  
        facilities = main_df[main_df['CTGRY_TWO_NM'] == category]['FCLTY_NM']

        for fclty in facilities:
            if fclty not in recommended_places:  # 중복된 장소 제외
                recommended_places.append(fclty)
                # 선택된 카테고리와 유사 카테고리의 유사도 저장
                similarity = ct_sim[selected_category][category]
                similarity=round(similarity,3)
                if similarity==1.000:
                    similarity=0.70
                category_similarity[fclty] = similarity
                
    # 추천 장소와 유사도를 데이터프레임으로 변환
    recommendations_df = pd.DataFrame(list(category_similarity.items()), columns=['FCLTY_NM', 'similarity'])
    return recommendations_df

In [241]:
place_sim('대형체육시설',ct_sim,main_df)

      FCLTY_NM  similarity
0     강창학종합경기장       0.700
1     제주월드컵경기장       0.700
2      제주종합경기장       0.700
3      국제리더스클럽       0.575
4       김녕요트투어       0.575
..         ...         ...
103   훈데르트바서파크       0.207
104     노형근린공원       0.139
105  제주4.3평화공원       0.139
106  제주곶자왈도립공원       0.139
107      한라생태숲       0.139

[108 rows x 2 columns]

In [253]:
def combine_recommendations(gender, age_group, comp_num, styl5, styl6, styl7, styl8, selected_category, ct_sim, main_df):
    reg_df = recommend_2(gender, age_group, comp_num, styl5, styl6, styl7, styl8)
    content_df = place_sim(selected_category, ct_sim, main_df)
    # 유사도에 맞추어 평점 정규화 (1~5) -> (0~1)
    reg_df['stfn_pred_normalized'] = (reg_df['stfn_pred'] - 1) / (5 - 1)
    content_df['similarity_normalized'] = content_df['similarity'] 

    combined_df = pd.merge(reg_df, content_df, on='FCLTY_NM', how='inner')
    combined_df['final_score'] = combined_df['stfn_pred_normalized'] * 0.8 + combined_df['similarity_normalized'] * 0.2
    final_recommendations = combined_df.sort_values(by='final_score', ascending=False).reset_index(drop=True)
    top_10_places = final_recommendations.head(10)

    return top_10_places['FCLTY_NM'].tolist()
    # return final_recommendations

In [254]:
# combine_recommendations(gender, age_group, comp_num, styl5, styl6, styl7, styl8, selected_category, ct_sim, main_df, cb_reg, places, cat_features)
combine_recommendations(1,20,2,1,4,5,4,'대형체육시설',ct_sim, main_df)

['제주월드컵경기장',
 '김녕요트투어',
 '국제리더스클럽',
 '제주종합경기장',
 '제주차귀도요트투어',
 '핀크스GC',
 '강창학종합경기장',
 '포도뮤지엄',
 '본태박물관',
 '국립제주박물관']