# 주제: 전국 배리어프리 문화예술관광지
(https://www.bigdata-culture.kr/bigdata/user/data_market/detail.do?id=573acce0-0337-11ee-a67e-69239d37dfae)
### 컬럼명 설명
- FCLTY_NM	시설명
- MRHST_NM	가맹점명
- CTGRY_ONE_NM	카테고리1명_레저/ 문화광관/ 전시 등
- CTGRY_TWO_NM	카테고리2명_공원/ 관광지/ 레저시설/ 영화/ 전시 등
- CTGRY_THREE_NM	카테고리3명_경마장/ 골프장/ 미술관 등
- CTPRVN_NM	시도명
- SIGNGU_NM	시군구명
- EMD_NM	읍면동명
- LI_NM	리명
- LNBR_NO	번지번호
- ROAD_NM	도로명
- BULD_NO	건물번호
- LC_LA	위치위도
- LC_LO	위치경도
- ZIP_NO	우편번호
- RDNMADR_NM	도로명주소명
- LNM_ADDR	지번주소
- TEL_NO	전화번호
- HMPG_URL	홈페이지URL
- BLOG_URL	블로그URL
- FACEBOOK_URL	페이스북URL
- INSTGRM_URL	인스타그램URL
- RSTDE_GUID_CN	휴무일안내내용
- OPER_TIME	운영시간
- FRE_PARKNG_AT	무료주차여부
- CHGD_PARKNG_AT	유료주차여부
- ENTRN_PRICE_AT	입장금액여부
- DSPSN_TOILET_ATMC_DOOR_AT	장애인화장실자동문여부
- WCHAIR_HOLD_AT	휠체어보유여부
- DSPSN_TOILET_AT	장애인화장실여부
- DSPSN_PRKPLCE_AT	장애인주차장여부
- LRGE_PARKNG_POSBL_AT	대주차가능여부
- GUID_DOG_ACP_POSBL_AT	안내견동반가능여부
- BRLL_GUID_AT	점자안내여부
- KLANG_VIC_GUID_AT	한국어음성안내여부
- LAST_UPDT_DE	최종수정일자

In [271]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [272]:
import matplotlib.pyplot as plt
import matplotlib
import matplotlib.font_manager as fm

# 폰트 설정
font_path = 'C:\\Windows\\Fonts\\gulim.ttc'
font = fm.FontProperties(fname=font_path).get_name()
matplotlib.rc('font', family=font)

In [273]:
df = pd.read_csv('./data/main_data.csv')

In [274]:
from sklearn.preprocessing import LabelEncoder

gender = df['GENDER']

encoder = LabelEncoder()
encoded_gender = encoder.fit_transform(gender)

df['GENDER'] = encoded_gender
df = df.drop(['CTGRY_ONE_NM','CTGRY_TWO_NM','SIGNGU_NM','FCLTY_ID','TRAVEL_ID','TRAVEL_STYL_1','TRAVEL_STYL_2','TRAVEL_STYL_3','TRAVEL_STYL_4'], axis = 1)

In [275]:
df

,FCLTY_NM,CTGRY_THREE_NM,WCHAIR_HOLD_AT,DSPSN_TOILET_AT,DSPSN_PRKPLCE_AT,GUID_DOG_ACP_POSBL_AT,BRLL_GUID_AT,KLANG_VIC_GUID_AT,PARKNG_AT,DGSTFN,GENDER,AGE_GRP,TRAVEL_STYL_5,TRAVEL_STYL_6,TRAVEL_STYL_7,TRAVEL_STYL_8,TRAVEL_COMPANIONS_NUM
0,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,0,40,3,5,2,6,1
1,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,0,20,2,3,2,6,1
2,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,0,20,6,4,2,6,3
3,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,1,30,5,3,3,7,1
4,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,1,40,4,4,4,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1997,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,4.0,1,40,5,2,7,5,4
1998,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,5.0,0,30,3,2,5,7,0
1999,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,4.0,0,30,7,7,1,7,3
2000,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,3.0,1,30,5,3,6,2,1
2001,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,4.0,0,50,2,4,2,6,1

In [276]:
df[['WCHAIR_HOLD_AT','DSPSN_TOILET_AT','DSPSN_PRKPLCE_AT','GUID_DOG_ACP_POSBL_AT','BRLL_GUID_AT','KLANG_VIC_GUID_AT','AGE_GRP',
    'TRAVEL_STYL_5','TRAVEL_STYL_6','TRAVEL_STYL_7','TRAVEL_STYL_8',
    'TRAVEL_COMPANIONS_NUM','GENDER']] = df[['WCHAIR_HOLD_AT','DSPSN_TOILET_AT','DSPSN_PRKPLCE_AT','GUID_DOG_ACP_POSBL_AT','BRLL_GUID_AT','KLANG_VIC_GUID_AT','AGE_GRP',
    'TRAVEL_STYL_5','TRAVEL_STYL_6','TRAVEL_STYL_7','TRAVEL_STYL_8',
    'TRAVEL_COMPANIONS_NUM','GENDER']].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2002 entries, 0 to 2001
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   FCLTY_NM               2002 non-null   object
 1   CTGRY_THREE_NM         2002 non-null   object
 2   WCHAIR_HOLD_AT         2002 non-null   int32
 3   DSPSN_TOILET_AT        2002 non-null   int32
 4   DSPSN_PRKPLCE_AT       2002 non-null   int32
 5   GUID_DOG_ACP_POSBL_AT  2002 non-null   int32
 6   BRLL_GUID_AT           2002 non-null   int32
 7   KLANG_VIC_GUID_AT      2002 non-null   int32
 8   PARKNG_AT              2002 non-null   int64
 9   DGSTFN                 2002 non-null   float64
 10  GENDER                 2002 non-null   int32
 11  AGE_GRP                2002 non-null   int32
 12  TRAVEL_STYL_5          2002 non-null   int32
 13  TRAVEL_STYL_6          2002 non-null   int32
 14  TRAVEL_STYL_7          2002 non-null   int32
 15  TRAVEL_STYL_8          2002 non-null   int32
 16  TRAVEL_COMPANIONS_NUM  2002 non-null   int32
dtypes: float64(1), int32(13), int64(1), object(2)
memory usage: 164.4+ KB

In [277]:
from catboost import Pool
from sklearn.model_selection import train_test_split
df['FCLTY_NM'] = df['FCLTY_NM'].astype(str)

X = df[['GENDER', 'AGE_GRP', 'TRAVEL_STYL_5',
       'TRAVEL_STYL_6', 'TRAVEL_STYL_7', 'TRAVEL_STYL_8',
       'TRAVEL_COMPANIONS_NUM','FCLTY_NM']]
y = df['DGSTFN']

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.2)

cat_features = ['GENDER', 'AGE_GRP', 'TRAVEL_STYL_5','TRAVEL_STYL_6',
                'TRAVEL_STYL_7', 'TRAVEL_STYL_8', 'FCLTY_NM']

# 범주형 데이터 처리를 위한 Pool객체 생성
X_train_pool = Pool(X_train, y_train, cat_features = cat_features)
X_test_pool = Pool(X_test, y_test, cat_features = cat_features)

In [278]:
from catboost import CatBoostRegressor
cb_reg = CatBoostRegressor(
    n_estimators = 5000,
    depth = 5,
    learning_rate = .02,
    loss_function = 'RMSE',
    eval_metric = 'RMSE',
    l2_leaf_reg = 10,
    early_stopping_rounds = 200,
    random_state = 0
)

In [279]:
cb_reg.fit(X_train_pool, eval_set = X_test_pool, verbose = 100)

0:	learn: 0.7540404	test: 0.7456615	best: 0.7456615 (0)	total: 14.8ms	remaining: 1m 14s
100:	learn: 0.7301359	test: 0.7335928	best: 0.7335928 (100)	total: 1.67s	remaining: 1m 21s
200:	learn: 0.7165636	test: 0.7286149	best: 0.7286149 (200)	total: 3.07s	remaining: 1m 13s
300:	learn: 0.7055667	test: 0.7256852	best: 0.7256625 (291)	total: 4.58s	remaining: 1m 11s
400:	learn: 0.6968272	test: 0.7240738	best: 0.7240738 (400)	total: 6.17s	remaining: 1m 10s
500:	learn: 0.6878812	test: 0.7211972	best: 0.7211972 (500)	total: 7.7s	remaining: 1m 9s
600:	learn: 0.6804656	test: 0.7202582	best: 0.7202582 (600)	total: 9.35s	remaining: 1m 8s
700:	learn: 0.6727870	test: 0.7187146	best: 0.7186291 (690)	total: 11s	remaining: 1m 7s
800:	learn: 0.6650645	test: 0.7183682	best: 0.7182046 (764)	total: 12.3s	remaining: 1m 4s
900:	learn: 0.6595320	test: 0.7178516	best: 0.7177919 (890)	total: 13.7s	remaining: 1m 2s
1000:	learn: 0.6528309	test: 0.7178574	best: 0.7177678 (932)	total: 15.1s	remaining: 1m
1100:	learn: 0.6460731	test: 0.7178450	best: 0.7176803 (1062)	total: 16.4s	remaining: 58.1s
1200:	learn: 0.6396393	test: 0.7182356	best: 0.7176803 (1062)	total: 17.8s	remaining: 56.2s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.7176803437
bestIteration = 1062

Shrink model to first 1063 iterations.

In [280]:
importances_df = pd.DataFrame({
    'columns' : X_train.columns,
    'importance' : cb_reg.feature_importances_
})
    
importances_df.sort_values(by = 'importance', ascending = False)

                 columns  importance
3          TRAVEL_STYL_6   17.381169
7               FCLTY_NM   16.575451
4          TRAVEL_STYL_7   16.035710
1                AGE_GRP   14.893080
2          TRAVEL_STYL_5   14.730933
5          TRAVEL_STYL_8   13.661206
6  TRAVEL_COMPANIONS_NUM    5.364977
0                 GENDER    1.357474

In [281]:
# 예측평점 df

import unicodedata

# 유니코드 정규화 적용 후 고유 값 확인
df['FCLTY_NM'] = df['FCLTY_NM'].apply(lambda x: unicodedata.normalize('NFKC', str(x)).strip())
places = list(df['FCLTY_NM'].unique())

In [282]:
dgstfn_pred_df = pd.DataFrame(index=X_train.index, columns=places)

In [283]:
for place in places:
    X_train_place = X_train.copy()
    
    predicted_dgstfn = cb_reg.predict(X_train_pool)
    
    dgstfn_pred_df[place] = predicted_dgstfn
    
dgstfn_pred_df

,9.81파크,강창학종합경기장,갤러리2중선농원,건강과성박물관,고흐의정원,교래자연휴양림,국립제주박물관,국제리더스클럽,그리스신화박물관,금능석물원,...,한림공원,함덕해수욕장,해녀박물관,헬로키티아일랜드,협재해수욕장,혼인지,화순금모래해수욕장,화조원,훈데르트바서파크,ICC제주국제컨벤션센터
714,4.615030,4.615030,4.615030,4.615030,4.615030,4.615030,4.615030,4.615030,4.615030,4.615030,...,4.615030,4.615030,4.615030,4.615030,4.615030,4.615030,4.615030,4.615030,4.615030,4.615030
1339,4.189733,4.189733,4.189733,4.189733,4.189733,4.189733,4.189733,4.189733,4.189733,4.189733,...,4.189733,4.189733,4.189733,4.189733,4.189733,4.189733,4.189733,4.189733,4.189733,4.189733
1321,4.712070,4.712070,4.712070,4.712070,4.712070,4.712070,4.712070,4.712070,4.712070,4.712070,...,4.712070,4.712070,4.712070,4.712070,4.712070,4.712070,4.712070,4.712070,4.712070,4.712070
1043,4.597927,4.597927,4.597927,4.597927,4.597927,4.597927,4.597927,4.597927,4.597927,4.597927,...,4.597927,4.597927,4.597927,4.597927,4.597927,4.597927,4.597927,4.597927,4.597927,4.597927
1322,4.604735,4.604735,4.604735,4.604735,4.604735,4.604735,4.604735,4.604735,4.604735,4.604735,...,4.604735,4.604735,4.604735,4.604735,4.604735,4.604735,4.604735,4.604735,4.604735,4.604735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,4.520254,4.520254,4.520254,4.520254,4.520254,4.520254,4.520254,4.520254,4.520254,4.520254,...,4.520254,4.520254,4.520254,4.520254,4.520254,4.520254,4.520254,4.520254,4.520254,4.520254
1311,4.599798,4.599798,4.599798,4.599798,4.599798,4.599798,4.599798,4.599798,4.599798,4.599798,...,4.599798,4.599798,4.599798,4.599798,4.599798,4.599798,4.599798,4.599798,4.599798,4.599798
999,4.345334,4.345334,4.345334,4.345334,4.345334,4.345334,4.345334,4.345334,4.345334,4.345334,...,4.345334,4.345334,4.345334,4.345334,4.345334,4.345334,4.345334,4.345334,4.345334,4.345334
1947,4.688375,4.688375,4.688375,4.688375,4.688375,4.688375,4.688375,4.688375,4.688375,4.688375,...,4.688375,4.688375,4.688375,4.688375,4.688375,4.688375,4.688375,4.688375,4.688375,4.688375
1940,4.555482,4.555482,4.555482,4.555482,4.555482,4.555482,4.555482,4.555482,4.555482,4.555482,...,4.555482,4.555482,4.555482,4.555482,4.555482,4.555482,4.555482,4.555482,4.555482,4.555482

In [284]:
def recommend(gender, age_group, comp_num, styl5, styl6, styl7, styl8, topn):

    user_features = pd.DataFrame({
        'GENDER': [gender],
        'AGE_GRP': [age_group],
        'TRAVEL_STYL_5': [styl5],
        'TRAVEL_STYL_6': [styl6],
        'TRAVEL_STYL_7': [styl7],
        'TRAVEL_STYL_8': [styl8],
        'TRAVEL_COMPANIONS_NUM': [comp_num]
    })

    pred_stfn = {}
    
    for place in places:
        user_features_place = user_features.copy()  
        user_features_place['FCLTY_NM'] = place 

        user_pool_place = Pool(user_features_place, cat_features=cat_features + ['FCLTY_NM'])
        
        stfn = cb_reg.predict(user_pool_place)[0]
        pred_stfn[place] = stfn

    sorted_recommendations = sorted(pred_stfn.items(), key=lambda x: x[1], reverse=True)[:topn]
    result_df = pd.DataFrame(sorted_recommendations, columns=['FCLTY_NM', 'stfn_pred'])
    
    return result_df

In [291]:
recommend(1,50,2,1,1,2,2,50)

         FCLTY_NM  stfn_pred
0          함덕해수욕장   4.300203
1        에코랜드테마파크   4.221797
2          9.81파크   4.219517
3         제주아트서커스   4.214972
4      제주도립김창열미술관   4.214690
5          협재해수욕장   4.210946
6       제주코코몽에코파크   4.210826
7            더마파크   4.210543
8         아프리카박물관   4.209452
9         국제리더스클럽   4.198972
10             숨도   4.195674
11        국립제주박물관   4.195571
12      제주4.3평화공원   4.189112
13        제주항일기념관   4.187545
14         김녕요트투어   4.187114
15         김녕해수욕장   4.185840
16      제주곶자왈도립공원   4.185093
17          포도뮤지엄   4.184802
18          기당미술관   4.175417
19         금능해수욕장   4.170364
20         제주신화월드   4.169741
21    제주영상문화산업진흥원   4.169741
22        제주학생문화원   4.169741
23  바이나흐튼크리스마스박물관   4.168724
24       신창풍차해안도로   4.168724
25      제주항공우주박물관   4.165732
26          해녀박물관   4.163454
27        절물자연휴양림   4.160631
28      붉은오름자연휴양림   4.160544
29        교래자연휴양림   4.159086
30     너븐숭이4.3기념관   4.157379
31       제주월드컵경기장   4.154075
32          본태박물관   4.151180
33         제주불빛정원   4.147403
34           섭지코지   4.139042
35          성산일출봉   4.130828
36       갤러리2중선농원   4.129013
37     대정현역사자료전시관   4.129013
38           사계해안   4.129013
39         세계술박물관   4.129013
40         애월해안도로   4.129013
41          핀크스GC   4.129013
42          고흐의정원   4.127879
43          카멜리아힐   4.126323
44        제주돌문화공원   4.121286
45        오설록티뮤지엄   4.114177
46       훈데르트바서파크   4.108468
47      제주차귀도요트투어   4.092123
48         무민랜드제주   4.085525
49      서프라이즈테마파크   4.085322