# 주제: 전국 배리어프리 문화예술관광지
(https://www.bigdata-culture.kr/bigdata/user/data_market/detail.do?id=573acce0-0337-11ee-a67e-69239d37dfae)
### 컬럼명 설명
- FCLTY_NM	시설명
- MRHST_NM	가맹점명
- CTGRY_ONE_NM	카테고리1명_레저/ 문화광관/ 전시 등
- CTGRY_TWO_NM	카테고리2명_공원/ 관광지/ 레저시설/ 영화/ 전시 등
- CTGRY_THREE_NM	카테고리3명_경마장/ 골프장/ 미술관 등
- CTPRVN_NM	시도명
- SIGNGU_NM	시군구명
- EMD_NM	읍면동명
- LI_NM	리명
- LNBR_NO	번지번호
- ROAD_NM	도로명
- BULD_NO	건물번호
- LC_LA	위치위도
- LC_LO	위치경도
- ZIP_NO	우편번호
- RDNMADR_NM	도로명주소명
- LNM_ADDR	지번주소
- TEL_NO	전화번호
- HMPG_URL	홈페이지URL
- BLOG_URL	블로그URL
- FACEBOOK_URL	페이스북URL
- INSTGRM_URL	인스타그램URL
- RSTDE_GUID_CN	휴무일안내내용
- OPER_TIME	운영시간
- FRE_PARKNG_AT	무료주차여부
- CHGD_PARKNG_AT	유료주차여부
- ENTRN_PRICE_AT	입장금액여부
- DSPSN_TOILET_ATMC_DOOR_AT	장애인화장실자동문여부
- WCHAIR_HOLD_AT	휠체어보유여부
- DSPSN_TOILET_AT	장애인화장실여부
- DSPSN_PRKPLCE_AT	장애인주차장여부
- LRGE_PARKNG_POSBL_AT	대주차가능여부
- GUID_DOG_ACP_POSBL_AT	안내견동반가능여부
- BRLL_GUID_AT	점자안내여부
- KLANG_VIC_GUID_AT	한국어음성안내여부
- LAST_UPDT_DE	최종수정일자

In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [53]:
import matplotlib.pyplot as plt
import matplotlib
import matplotlib.font_manager as fm

# 폰트 설정
font_path = 'C:\\Windows\\Fonts\\gulim.ttc'
font = fm.FontProperties(fname=font_path).get_name()
matplotlib.rc('font', family=font)

In [54]:
df = pd.read_csv('./data/main_data.csv')

In [55]:
from sklearn.preprocessing import LabelEncoder

gender = df['GENDER']

encoder = LabelEncoder()
encoded_gender = encoder.fit_transform(gender)

df['GENDER'] = encoded_gender
df = df.drop(['CTGRY_ONE_NM','CTGRY_TWO_NM','SIGNGU_NM','FCLTY_ID','TRAVEL_ID','TRAVEL_STYL_1','TRAVEL_STYL_2','TRAVEL_STYL_3','TRAVEL_STYL_4'], axis = 1)

In [56]:
df

,FCLTY_NM,CTGRY_THREE_NM,WCHAIR_HOLD_AT,DSPSN_TOILET_AT,DSPSN_PRKPLCE_AT,GUID_DOG_ACP_POSBL_AT,BRLL_GUID_AT,KLANG_VIC_GUID_AT,PARKNG_AT,DGSTFN,GENDER,AGE_GRP,TRAVEL_STYL_5,TRAVEL_STYL_6,TRAVEL_STYL_7,TRAVEL_STYL_8,TRAVEL_COMPANIONS_NUM
0,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,0,40,3,5,2,6,1
1,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,0,20,2,3,2,6,1
2,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,0,20,6,4,2,6,3
3,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,1,30,5,3,3,7,1
4,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,1,40,4,4,4,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1997,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,4.0,1,40,5,2,7,5,4
1998,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,5.0,0,30,3,2,5,7,0
1999,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,4.0,0,30,7,7,1,7,3
2000,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,3.0,1,30,5,3,6,2,1
2001,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,4.0,0,50,2,4,2,6,1

In [57]:
df[['WCHAIR_HOLD_AT','DSPSN_TOILET_AT','DSPSN_PRKPLCE_AT','GUID_DOG_ACP_POSBL_AT','BRLL_GUID_AT','KLANG_VIC_GUID_AT','AGE_GRP',
    'TRAVEL_STYL_5','TRAVEL_STYL_6','TRAVEL_STYL_7','TRAVEL_STYL_8',
    'TRAVEL_COMPANIONS_NUM','GENDER']] = df[['WCHAIR_HOLD_AT','DSPSN_TOILET_AT','DSPSN_PRKPLCE_AT','GUID_DOG_ACP_POSBL_AT','BRLL_GUID_AT','KLANG_VIC_GUID_AT','AGE_GRP',
    'TRAVEL_STYL_5','TRAVEL_STYL_6','TRAVEL_STYL_7','TRAVEL_STYL_8',
    'TRAVEL_COMPANIONS_NUM','GENDER']].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2002 entries, 0 to 2001
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   FCLTY_NM               2002 non-null   object
 1   CTGRY_THREE_NM         2002 non-null   object
 2   WCHAIR_HOLD_AT         2002 non-null   int32
 3   DSPSN_TOILET_AT        2002 non-null   int32
 4   DSPSN_PRKPLCE_AT       2002 non-null   int32
 5   GUID_DOG_ACP_POSBL_AT  2002 non-null   int32
 6   BRLL_GUID_AT           2002 non-null   int32
 7   KLANG_VIC_GUID_AT      2002 non-null   int32
 8   PARKNG_AT              2002 non-null   int64
 9   DGSTFN                 2002 non-null   float64
 10  GENDER                 2002 non-null   int32
 11  AGE_GRP                2002 non-null   int32
 12  TRAVEL_STYL_5          2002 non-null   int32
 13  TRAVEL_STYL_6          2002 non-null   int32
 14  TRAVEL_STYL_7          2002 non-null   int32
 15  TRAVEL_STYL_8          2002 non-null   int32
 16  TRAVEL_COMPANIONS_NUM  2002 non-null   int32
dtypes: float64(1), int32(13), int64(1), object(2)
memory usage: 164.4+ KB

In [58]:
from catboost import Pool
from sklearn.model_selection import train_test_split

X = df[['GENDER', 'AGE_GRP', 'TRAVEL_STYL_5',
       'TRAVEL_STYL_6', 'TRAVEL_STYL_7', 'TRAVEL_STYL_8',
       'TRAVEL_COMPANIONS_NUM']]
y = df['DGSTFN']

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.2)

cat_features = ['GENDER', 'AGE_GRP', 'TRAVEL_STYL_5','TRAVEL_STYL_6',
                'TRAVEL_STYL_7', 'TRAVEL_STYL_8']

# 범주형 데이터 처리를 위한 Pool객체 생성
X_train_pool = Pool(X_train, y_train, cat_features = cat_features)
X_test_pool = Pool(X_test, y_test, cat_features = cat_features)

In [59]:
from catboost import CatBoostRegressor
cb_reg = CatBoostRegressor(
    n_estimators = 5000,
    depth = 5,
    learning_rate = .02,
    loss_function = 'RMSE',
    eval_metric = 'RMSE',
    l2_leaf_reg = 10,
    early_stopping_rounds = 200,
    random_state = 0
)

In [60]:
cb_reg.fit(X_train_pool, eval_set = X_test_pool, verbose = 100)

0:	learn: 0.7587627	test: 0.7263197	best: 0.7263197 (0)	total: 15.8ms	remaining: 1m 18s
100:	learn: 0.7378267	test: 0.7156981	best: 0.7156981 (100)	total: 1.36s	remaining: 1m 6s
200:	learn: 0.7261428	test: 0.7122358	best: 0.7122358 (200)	total: 2.55s	remaining: 1m
300:	learn: 0.7159488	test: 0.7096085	best: 0.7096020 (299)	total: 3.77s	remaining: 58.9s
400:	learn: 0.7089398	test: 0.7088773	best: 0.7088773 (400)	total: 5.01s	remaining: 57.4s
500:	learn: 0.7022708	test: 0.7066914	best: 0.7066914 (500)	total: 6.29s	remaining: 56.5s
600:	learn: 0.6952109	test: 0.7052543	best: 0.7052138 (593)	total: 7.7s	remaining: 56.3s
700:	learn: 0.6878635	test: 0.7040853	best: 0.7040311 (697)	total: 9.2s	remaining: 56.4s
800:	learn: 0.6815717	test: 0.7031813	best: 0.7031681 (797)	total: 10.5s	remaining: 55.1s
900:	learn: 0.6741933	test: 0.7024794	best: 0.7024116 (885)	total: 11.8s	remaining: 53.8s
1000:	learn: 0.6673173	test: 0.7025117	best: 0.7023873 (987)	total: 13.1s	remaining: 52.4s
1100:	learn: 0.6615105	test: 0.7027071	best: 0.7023551 (1038)	total: 14.3s	remaining: 50.8s
1200:	learn: 0.6553811	test: 0.7038378	best: 0.7023551 (1038)	total: 15.7s	remaining: 49.5s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.7023550848
bestIteration = 1038

Shrink model to first 1039 iterations.

In [61]:
importances_df = pd.DataFrame({
    'columns' : X_train.columns,
    'importance' : cb_reg.feature_importances_
})
    
importances_df.sort_values(by = 'importance', ascending = False)

                 columns  importance
4          TRAVEL_STYL_7   21.319753
5          TRAVEL_STYL_8   20.322523
3          TRAVEL_STYL_6   19.415272
2          TRAVEL_STYL_5   17.776802
1                AGE_GRP   13.544528
6  TRAVEL_COMPANIONS_NUM    5.928387
0                 GENDER    1.692735

In [62]:
# 예측평점 df

import unicodedata

# 유니코드 정규화 적용 후 고유 값 확인
df['FCLTY_NM'] = df['FCLTY_NM'].apply(lambda x: unicodedata.normalize('NFKC', str(x)).strip())
places = list(df['FCLTY_NM'].unique())

In [63]:
dgstfn_pred_df = pd.DataFrame(index=X_train.index, columns=places)

In [64]:
for place in places:
    X_train_place = X_train.copy()
    X_train_place['FCLTY_NM'] = place
    
    # Pool 객체 생성
    X_train_pool_place = Pool(X_train_place, cat_features=cat_features + ['FCLTY_NM'])
    
    # 예측 수행
    predicted_scores = cb_reg.predict(X_train_pool_place)
    
    # 예측 결과를 DataFrame에 추가
    dgstfn_pred_df[place] = predicted_scores
    
dgstfn_pred_df

,9.81파크,강창학종합경기장,갤러리2중선농원,건강과성박물관,고흐의정원,교래자연휴양림,국립제주박물관,국제리더스클럽,그리스신화박물관,금능석물원,...,한림공원,함덕해수욕장,해녀박물관,헬로키티아일랜드,협재해수욕장,혼인지,화순금모래해수욕장,화조원,훈데르트바서파크,ICC제주국제컨벤션센터
221,4.595925,4.595925,4.595925,4.595925,4.595925,4.595925,4.595925,4.595925,4.595925,4.595925,...,4.595925,4.595925,4.595925,4.595925,4.595925,4.595925,4.595925,4.595925,4.595925,4.595925
1320,4.260564,4.260564,4.260564,4.260564,4.260564,4.260564,4.260564,4.260564,4.260564,4.260564,...,4.260564,4.260564,4.260564,4.260564,4.260564,4.260564,4.260564,4.260564,4.260564,4.260564
739,4.526188,4.526188,4.526188,4.526188,4.526188,4.526188,4.526188,4.526188,4.526188,4.526188,...,4.526188,4.526188,4.526188,4.526188,4.526188,4.526188,4.526188,4.526188,4.526188,4.526188
760,4.543764,4.543764,4.543764,4.543764,4.543764,4.543764,4.543764,4.543764,4.543764,4.543764,...,4.543764,4.543764,4.543764,4.543764,4.543764,4.543764,4.543764,4.543764,4.543764,4.543764
1807,4.322612,4.322612,4.322612,4.322612,4.322612,4.322612,4.322612,4.322612,4.322612,4.322612,...,4.322612,4.322612,4.322612,4.322612,4.322612,4.322612,4.322612,4.322612,4.322612,4.322612
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
877,4.771709,4.771709,4.771709,4.771709,4.771709,4.771709,4.771709,4.771709,4.771709,4.771709,...,4.771709,4.771709,4.771709,4.771709,4.771709,4.771709,4.771709,4.771709,4.771709,4.771709
1324,4.112848,4.112848,4.112848,4.112848,4.112848,4.112848,4.112848,4.112848,4.112848,4.112848,...,4.112848,4.112848,4.112848,4.112848,4.112848,4.112848,4.112848,4.112848,4.112848,4.112848
854,4.670844,4.670844,4.670844,4.670844,4.670844,4.670844,4.670844,4.670844,4.670844,4.670844,...,4.670844,4.670844,4.670844,4.670844,4.670844,4.670844,4.670844,4.670844,4.670844,4.670844
1960,4.527257,4.527257,4.527257,4.527257,4.527257,4.527257,4.527257,4.527257,4.527257,4.527257,...,4.527257,4.527257,4.527257,4.527257,4.527257,4.527257,4.527257,4.527257,4.527257,4.527257
591,4.500523,4.500523,4.500523,4.500523,4.500523,4.500523,4.500523,4.500523,4.500523,4.500523,...,4.500523,4.500523,4.500523,4.500523,4.500523,4.500523,4.500523,4.500523,4.500523,4.500523

In [89]:
def recommend(gender, age, comp_num, styl5, styl6, styl7, styl8, topn):
    user_features = pd.DataFrame({
        'GENDER': [gender],
        'AGE_GRP': [age],
        'TRAVEL_STYL_5': [styl5],
        'TRAVEL_STYL_6': [styl6],
        'TRAVEL_STYL_7': [styl7],
        'TRAVEL_STYL_8': [styl8],
        'TRAVEL_COMPANIONS_NUM': [comp_num]
    })

    user_pool = Pool(user_features, cat_features = cat_features)
    
    pred_scores = {}
    for place in places:
        user_features_place = user_features.copy()
        user_features_place['FCLTY_NM'] = place
        user_pool_place = Pool(user_features_place, cat_features = cat_features + ['FCLTY_NM'])
        
        score = cb_reg.predict(user_pool_place)[0]
        pred_scores[place] = score

    sorted_recommendations = sorted(pred_scores.items(), key = lambda x: x[1], reverse = True)[:topn]
    result_df = pd.DataFrame(sorted_recommendations, columns = ['FCLTY_NM', 'stfn_pred'])
    return result_df

In [90]:
recommend(1,32,2,1,1,2,1,20)

      FCLTY_NM  stfn_pred
0       9.81파크   4.476673
1     강창학종합경기장   4.476673
2     갤러리2중선농원   4.476673
3      건강과성박물관   4.476673
4        고흐의정원   4.476673
5      교래자연휴양림   4.476673
6      국립제주박물관   4.476673
7      국제리더스클럽   4.476673
8     그리스신화박물관   4.476673
9        금능석물원   4.476673
10      금능해수욕장   4.476673
11       기당미술관   4.476673
12      김녕미로공원   4.476673
13      김녕요트투어   4.476673
14      김녕해수욕장   4.476673
15      김만덕기념관   4.476673
16   김영갑갤러리두모악   4.476673
17      남원큰엉해변   4.476673
18  너븐숭이4.3기념관   4.476673
19      노형근린공원   4.476673