# 주제: 전국 배리어프리 문화예술관광지
(https://www.bigdata-culture.kr/bigdata/user/data_market/detail.do?id=573acce0-0337-11ee-a67e-69239d37dfae)
### 컬럼명 설명
- FCLTY_NM	시설명
- MRHST_NM	가맹점명
- CTGRY_ONE_NM	카테고리1명_레저/ 문화광관/ 전시 등
- CTGRY_TWO_NM	카테고리2명_공원/ 관광지/ 레저시설/ 영화/ 전시 등
- CTGRY_THREE_NM	카테고리3명_경마장/ 골프장/ 미술관 등
- CTPRVN_NM	시도명
- SIGNGU_NM	시군구명
- EMD_NM	읍면동명
- LI_NM	리명
- LNBR_NO	번지번호
- ROAD_NM	도로명
- BULD_NO	건물번호
- LC_LA	위치위도
- LC_LO	위치경도
- ZIP_NO	우편번호
- RDNMADR_NM	도로명주소명
- LNM_ADDR	지번주소
- TEL_NO	전화번호
- HMPG_URL	홈페이지URL
- BLOG_URL	블로그URL
- FACEBOOK_URL	페이스북URL
- INSTGRM_URL	인스타그램URL
- RSTDE_GUID_CN	휴무일안내내용
- OPER_TIME	운영시간
- FRE_PARKNG_AT	무료주차여부
- CHGD_PARKNG_AT	유료주차여부
- ENTRN_PRICE_AT	입장금액여부
- DSPSN_TOILET_ATMC_DOOR_AT	장애인화장실자동문여부
- WCHAIR_HOLD_AT	휠체어보유여부
- DSPSN_TOILET_AT	장애인화장실여부
- DSPSN_PRKPLCE_AT	장애인주차장여부
- LRGE_PARKNG_POSBL_AT	대주차가능여부
- GUID_DOG_ACP_POSBL_AT	안내견동반가능여부
- BRLL_GUID_AT	점자안내여부
- KLANG_VIC_GUID_AT	한국어음성안내여부
- LAST_UPDT_DE	최종수정일자

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import matplotlib.pyplot as plt
import matplotlib
import matplotlib.font_manager as fm

# 폰트 설정
font_path = 'C:\\Windows\\Fonts\\gulim.ttc'
font = fm.FontProperties(fname=font_path).get_name()
matplotlib.rc('font', family=font)

In [4]:
df = pd.read_csv('./data/main_data.csv')

In [5]:
from sklearn.preprocessing import LabelEncoder

gender = df['GENDER']

encoder = LabelEncoder()
encoded_gender = encoder.fit_transform(gender)

df['GENDER'] = encoded_gender
df = df.drop(['CTGRY_ONE_NM','CTGRY_TWO_NM','SIGNGU_NM','FCLTY_ID','TRAVEL_ID','TRAVEL_STYL_1','TRAVEL_STYL_2','TRAVEL_STYL_3','TRAVEL_STYL_4'], axis = 1)

In [6]:
df

,FCLTY_NM,CTGRY_THREE_NM,WCHAIR_HOLD_AT,DSPSN_TOILET_AT,DSPSN_PRKPLCE_AT,GUID_DOG_ACP_POSBL_AT,BRLL_GUID_AT,KLANG_VIC_GUID_AT,PARKNG_AT,DGSTFN,GENDER,AGE_GRP,TRAVEL_STYL_5,TRAVEL_STYL_6,TRAVEL_STYL_7,TRAVEL_STYL_8,TRAVEL_COMPANIONS_NUM
0,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,0,40,3,5,2,6,1
1,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,0,20,2,3,2,6,1
2,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,0,20,6,4,2,6,3
3,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,1,30,5,3,3,7,1
4,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,1,40,4,4,4,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1997,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,4.0,1,40,5,2,7,5,4
1998,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,5.0,0,30,3,2,5,7,0
1999,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,4.0,0,30,7,7,1,7,3
2000,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,3.0,1,30,5,3,6,2,1
2001,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,4.0,0,50,2,4,2,6,1

In [7]:
df[['WCHAIR_HOLD_AT','DSPSN_TOILET_AT','DSPSN_PRKPLCE_AT','GUID_DOG_ACP_POSBL_AT','BRLL_GUID_AT','KLANG_VIC_GUID_AT','AGE_GRP',
    'TRAVEL_STYL_5','TRAVEL_STYL_6','TRAVEL_STYL_7','TRAVEL_STYL_8',
    'TRAVEL_COMPANIONS_NUM','GENDER']] = df[['WCHAIR_HOLD_AT','DSPSN_TOILET_AT','DSPSN_PRKPLCE_AT','GUID_DOG_ACP_POSBL_AT','BRLL_GUID_AT','KLANG_VIC_GUID_AT','AGE_GRP',
    'TRAVEL_STYL_5','TRAVEL_STYL_6','TRAVEL_STYL_7','TRAVEL_STYL_8',
    'TRAVEL_COMPANIONS_NUM','GENDER']].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2002 entries, 0 to 2001
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   FCLTY_NM               2002 non-null   object
 1   CTGRY_THREE_NM         2002 non-null   object
 2   WCHAIR_HOLD_AT         2002 non-null   int32
 3   DSPSN_TOILET_AT        2002 non-null   int32
 4   DSPSN_PRKPLCE_AT       2002 non-null   int32
 5   GUID_DOG_ACP_POSBL_AT  2002 non-null   int32
 6   BRLL_GUID_AT           2002 non-null   int32
 7   KLANG_VIC_GUID_AT      2002 non-null   int32
 8   PARKNG_AT              2002 non-null   int64
 9   DGSTFN                 2002 non-null   float64
 10  GENDER                 2002 non-null   int32
 11  AGE_GRP                2002 non-null   int32
 12  TRAVEL_STYL_5          2002 non-null   int32
 13  TRAVEL_STYL_6          2002 non-null   int32
 14  TRAVEL_STYL_7          2002 non-null   int32
 15  TRAVEL_STYL_8          2002 non-null   int32
 16  TRAVEL_COMPANIONS_NUM  2002 non-null   int32
dtypes: float64(1), int32(13), int64(1), object(2)
memory usage: 164.4+ KB

In [11]:
from catboost import Pool
from sklearn.model_selection import train_test_split
df['FCLTY_NM'] = df['FCLTY_NM'].astype(str)

X = df[['GENDER', 'AGE_GRP', 'TRAVEL_STYL_5',
       'TRAVEL_STYL_6', 'TRAVEL_STYL_7', 'TRAVEL_STYL_8',
       'TRAVEL_COMPANIONS_NUM','FCLTY_NM']]
y = df['DGSTFN']

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.2)

cat_features = ['GENDER', 'AGE_GRP', 'TRAVEL_STYL_5','TRAVEL_STYL_6',
                'TRAVEL_STYL_7', 'TRAVEL_STYL_8', 'FCLTY_NM']

# 범주형 데이터 처리를 위한 Pool객체 생성
X_train_pool = Pool(X_train, y_train, cat_features = cat_features)
X_test_pool = Pool(X_test, y_test, cat_features = cat_features)

In [12]:
from catboost import CatBoostRegressor
cb_reg = CatBoostRegressor(
    n_estimators = 5000,
    depth = 5,
    learning_rate = .02,
    loss_function = 'RMSE',
    eval_metric = 'RMSE',
    l2_leaf_reg = 10,
    early_stopping_rounds = 200,
    random_state = 0
)

In [13]:
cb_reg.fit(X_train_pool, eval_set = X_test_pool, verbose = 100)

0:	learn: 0.7591650	test: 0.7246630	best: 0.7246630 (0)	total: 153ms	remaining: 12m 46s
100:	learn: 0.7291477	test: 0.7073349	best: 0.7073349 (100)	total: 1.74s	remaining: 1m 24s
200:	learn: 0.7144847	test: 0.7012804	best: 0.7012804 (200)	total: 3.08s	remaining: 1m 13s
300:	learn: 0.7049413	test: 0.6977891	best: 0.6977891 (300)	total: 4.5s	remaining: 1m 10s
400:	learn: 0.6970916	test: 0.6954600	best: 0.6954600 (400)	total: 6.22s	remaining: 1m 11s
500:	learn: 0.6899171	test: 0.6934759	best: 0.6934759 (500)	total: 7.63s	remaining: 1m 8s
600:	learn: 0.6816826	test: 0.6908243	best: 0.6907988 (599)	total: 9.01s	remaining: 1m 5s
700:	learn: 0.6744639	test: 0.6892640	best: 0.6891906 (697)	total: 10.5s	remaining: 1m 4s
800:	learn: 0.6670807	test: 0.6874509	best: 0.6874456 (799)	total: 12.2s	remaining: 1m 3s
900:	learn: 0.6603015	test: 0.6861139	best: 0.6860560 (895)	total: 13.7s	remaining: 1m 2s
1000:	learn: 0.6540830	test: 0.6855093	best: 0.6852257 (986)	total: 15.3s	remaining: 1m
1100:	learn: 0.6479565	test: 0.6850210	best: 0.6850159 (1099)	total: 16.8s	remaining: 59.3s
1200:	learn: 0.6422770	test: 0.6839777	best: 0.6839447 (1188)	total: 18.3s	remaining: 57.8s
1300:	learn: 0.6367416	test: 0.6835752	best: 0.6835605 (1298)	total: 20.2s	remaining: 57.3s
1400:	learn: 0.6303342	test: 0.6823111	best: 0.6823111 (1400)	total: 21.7s	remaining: 55.7s
1500:	learn: 0.6254165	test: 0.6825735	best: 0.6822568 (1406)	total: 23.2s	remaining: 54.1s
1600:	learn: 0.6194300	test: 0.6827438	best: 0.6822568 (1406)	total: 25.2s	remaining: 53.6s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.6822567794
bestIteration = 1406

Shrink model to first 1407 iterations.

In [14]:
importances_df = pd.DataFrame({
    'columns' : X_train.columns,
    'importance' : cb_reg.feature_importances_
})
    
importances_df.sort_values(by = 'importance', ascending = False)

                 columns  importance
7               FCLTY_NM   17.687841
3          TRAVEL_STYL_6   16.632910
4          TRAVEL_STYL_7   16.478285
2          TRAVEL_STYL_5   14.737940
5          TRAVEL_STYL_8   13.604938
1                AGE_GRP   13.091544
6  TRAVEL_COMPANIONS_NUM    6.139152
0                 GENDER    1.627391

In [16]:
# 예측평점 df

import unicodedata

# 유니코드 정규화 적용 후 고유 값 확인
df['FCLTY_NM'] = df['FCLTY_NM'].apply(lambda x: unicodedata.normalize('NFKC', str(x)).strip())
places = list(df['FCLTY_NM'].unique())

In [17]:
dgstfn_pred_df = pd.DataFrame(index=X_train.index, columns=places)

In [18]:
for place in places:
    X_train_place = X_train.copy()
    
    predicted_dgstfn = cb_reg.predict(X_train_pool)
    
    dgstfn_pred_df[place] = predicted_dgstfn
    
dgstfn_pred_df

,9.81파크,강창학종합경기장,갤러리2중선농원,건강과성박물관,고흐의정원,교래자연휴양림,국립제주박물관,국제리더스클럽,그리스신화박물관,금능석물원,...,한림공원,함덕해수욕장,해녀박물관,헬로키티아일랜드,협재해수욕장,혼인지,화순금모래해수욕장,화조원,훈데르트바서파크,ICC제주국제컨벤션센터
310,4.692909,4.692909,4.692909,4.692909,4.692909,4.692909,4.692909,4.692909,4.692909,4.692909,...,4.692909,4.692909,4.692909,4.692909,4.692909,4.692909,4.692909,4.692909,4.692909,4.692909
968,4.311939,4.311939,4.311939,4.311939,4.311939,4.311939,4.311939,4.311939,4.311939,4.311939,...,4.311939,4.311939,4.311939,4.311939,4.311939,4.311939,4.311939,4.311939,4.311939,4.311939
1730,4.593252,4.593252,4.593252,4.593252,4.593252,4.593252,4.593252,4.593252,4.593252,4.593252,...,4.593252,4.593252,4.593252,4.593252,4.593252,4.593252,4.593252,4.593252,4.593252,4.593252
1558,4.284056,4.284056,4.284056,4.284056,4.284056,4.284056,4.284056,4.284056,4.284056,4.284056,...,4.284056,4.284056,4.284056,4.284056,4.284056,4.284056,4.284056,4.284056,4.284056,4.284056
330,4.815497,4.815497,4.815497,4.815497,4.815497,4.815497,4.815497,4.815497,4.815497,4.815497,...,4.815497,4.815497,4.815497,4.815497,4.815497,4.815497,4.815497,4.815497,4.815497,4.815497
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1626,4.754009,4.754009,4.754009,4.754009,4.754009,4.754009,4.754009,4.754009,4.754009,4.754009,...,4.754009,4.754009,4.754009,4.754009,4.754009,4.754009,4.754009,4.754009,4.754009,4.754009
1899,4.567429,4.567429,4.567429,4.567429,4.567429,4.567429,4.567429,4.567429,4.567429,4.567429,...,4.567429,4.567429,4.567429,4.567429,4.567429,4.567429,4.567429,4.567429,4.567429,4.567429
1860,4.612790,4.612790,4.612790,4.612790,4.612790,4.612790,4.612790,4.612790,4.612790,4.612790,...,4.612790,4.612790,4.612790,4.612790,4.612790,4.612790,4.612790,4.612790,4.612790,4.612790
1815,4.863894,4.863894,4.863894,4.863894,4.863894,4.863894,4.863894,4.863894,4.863894,4.863894,...,4.863894,4.863894,4.863894,4.863894,4.863894,4.863894,4.863894,4.863894,4.863894,4.863894
1671,4.383302,4.383302,4.383302,4.383302,4.383302,4.383302,4.383302,4.383302,4.383302,4.383302,...,4.383302,4.383302,4.383302,4.383302,4.383302,4.383302,4.383302,4.383302,4.383302,4.383302

In [19]:
def recommend(gender, age_group, comp_num, styl5, styl6, styl7, styl8, topn):

    user_features = pd.DataFrame({
        'GENDER': [gender],
        'AGE_GRP': [age_group],
        'TRAVEL_STYL_5': [styl5],
        'TRAVEL_STYL_6': [styl6],
        'TRAVEL_STYL_7': [styl7],
        'TRAVEL_STYL_8': [styl8],
        'TRAVEL_COMPANIONS_NUM': [comp_num]
    })

    pred_stfn = {}
    
    for place in places:
        user_features_place = user_features.copy()  
        user_features_place['FCLTY_NM'] = place 

        user_pool_place = Pool(user_features_place, cat_features=cat_features + ['FCLTY_NM'])
        
        stfn = cb_reg.predict(user_pool_place)[0]
        stfn=round(stfn,3)
        pred_stfn[place] = stfn

    sorted_recommendations = sorted(pred_stfn.items(), key=lambda x: x[1], reverse=True)[:topn]
    result_df = pd.DataFrame(sorted_recommendations, columns=['FCLTY_NM', 'stfn_pred'])
    
    return result_df

In [20]:
recommend(1,50,2,1,1,2,2,50)

         FCLTY_NM  stfn_pred
0      제주도립김창열미술관      4.151
1          함덕해수욕장      4.120
2         제주아트서커스      4.034
3       제주항공우주박물관      3.987
4         국립제주박물관      3.983
5          남원큰엉해변      3.978
6            더마파크      3.974
7           본태박물관      3.970
8        에코랜드테마파크      3.969
9           금능석물원      3.963
10        샤인빌파크CC      3.963
11         애월해안도로      3.963
12         제주신화월드      3.963
13      제주커피박물관바움      3.963
14         9.81파크      3.962
15        아프리카박물관      3.954
16          고흐의정원      3.953
17             숨도      3.950
18      제주4.3평화공원      3.947
19        제주종합경기장      3.945
20       신양섭지해수욕장      3.943
21         김녕해수욕장      3.942
22        국제리더스클럽      3.940
23  바이나흐튼크리스마스박물관      3.938
24       신창풍차해안도로      3.938
25       강창학종합경기장      3.936
26         노형근린공원      3.936
27       블랙스톤제주CC      3.936
28  수목원테마파크아이스뮤지엄      3.936
29   아라리오뮤지엄동문모텔2      3.936
30           일출랜드      3.936
31         제주러브랜드      3.936
32        조안베어뮤지엄      3.936
33            혼인지      3.936
34      김영갑갤러리두모악      3.935
35    제주영상문화산업진흥원      3.935
36        제주학생문화원      3.935
37        교래자연휴양림      3.934
38          포도뮤지엄      3.934
39          성산일출봉      3.930
40        제주항일기념관      3.930
41           새별오름      3.926
42          소암기념관      3.926
43        절물자연휴양림      3.926
44         초콜릿박물관      3.926
45       갤러리2중선농원      3.920
46     대정현역사자료전시관      3.920
47            방림원      3.920
48           사계해안      3.920
49         세계술박물관      3.920

In [21]:
def recommend_2(gender, age_group, comp_num, styl5, styl6, styl7, styl8):

    user_features = pd.DataFrame({
        'GENDER': [gender],
        'AGE_GRP': [age_group],
        'TRAVEL_STYL_5': [styl5],
        'TRAVEL_STYL_6': [styl6],
        'TRAVEL_STYL_7': [styl7],
        'TRAVEL_STYL_8': [styl8],
        'TRAVEL_COMPANIONS_NUM': [comp_num]
    })

    pred_stfn = {}
    
    for place in places:
        user_features_place = user_features.copy()  
        user_features_place['FCLTY_NM'] = place 

        user_pool_place = Pool(user_features_place, cat_features=cat_features + ['FCLTY_NM'])
        
        stfn = cb_reg.predict(user_pool_place)[0]
        stfn=round(stfn,3)
        pred_stfn[place] = stfn

    sorted_recommendations = sorted(pred_stfn.items(), key=lambda x: x[1], reverse=True)
    result_df = pd.DataFrame(sorted_recommendations, columns=['FCLTY_NM', 'stfn_pred'])
    
    return result_df

In [22]:
# recommend_2(1,50,2,1,1,2,3)
recommend_2(1,20,2,1,4,5,4)

       FCLTY_NM  stfn_pred
0    제주도립김창열미술관      4.758
1        김녕해수욕장      4.697
2        함덕해수욕장      4.685
3        금능해수욕장      4.683
4        9.81파크      4.672
..          ...        ...
103       서복전시관      4.321
104    신양섭지해수욕장      4.313
105         화조원      4.257
106     건강과성박물관      4.225
107   제주시민속오일시장      4.149

[108 rows x 2 columns]

In [88]:
import pandas as pd
import unicodedata
from itertools import combinations
from sklearn.metrics.pairwise import cosine_similarity
from gensim.models import KeyedVectors

main_df=pd.read_csv('./data/main_data.csv')
kv_model = KeyedVectors.load("./data/small_fasttext_model.kv")

main_df['CTGRY_TWO_NM'] = main_df['CTGRY_TWO_NM'].apply(lambda x: unicodedata.normalize('NFKC', x))
unique_values_two = main_df['CTGRY_TWO_NM'].unique()
ct_sim = pd.DataFrame(index=unique_values_two, columns=unique_values_two)

# 모든 단어 쌍에 대해 유사도 계산
for word1 in unique_values_two:
    for word2 in unique_values_two:
        # 두 단어가 모두 모델에 있을 때만 유사도 계산
        if word1 in kv_model and word2 in kv_model:
            # 벡터 추출
            vec1 = kv_model[word1].reshape(1, -1)
            vec2 = kv_model[word2].reshape(1, -1)
            # 코사인 유사도 계산
            similarity = cosine_similarity(vec1, vec2)[0][0]
            ct_sim.loc[word1, word2] = similarity
        else:
            ct_sim.loc[word1, word2] = np.nan  # 모델에 없는 단어는 NaN 처리

def place_sim(selected_category, ct_sim, main_df):
    # 선택된 카테고리의 유사도 순으로 정렬
    sim_scores = ct_sim[selected_category].sort_values(ascending=False)
    recommended_places = []  # 추천할 장소 리스트
    category_similarity = {}  # 추천 장소와 유사도 저장할 딕셔너리

    # 유사도가 높은 카테고리부터 장소 추천
    for category in sim_scores.index:  
        facilities = main_df[main_df['CTGRY_TWO_NM'] == category]['FCLTY_NM']

        for fclty in facilities:
            if fclty not in recommended_places:  # 중복된 장소 제외
                recommended_places.append(fclty)
                # 선택된 카테고리와 유사 카테고리의 유사도 저장
                similarity = ct_sim[selected_category][category]
                similarity=round(similarity,3)
                if similarity==1.000:
                    similarity=0.700
                category_similarity[fclty] = similarity
                
    # 추천 장소와 유사도를 데이터프레임으로 변환
    recommendations_df = pd.DataFrame(list(category_similarity.items()), columns=['FCLTY_NM', 'similarity'])
    return recommendations_df

In [89]:
place_sim('대형레저시설',ct_sim,main_df)

      FCLTY_NM  similarity
0      국제리더스클럽       0.700
1       김녕요트투어       0.700
2         라온GC       0.700
3     블랙스톤제주CC       0.700
4      샤인빌파크CC       0.700
..         ...         ...
103   훈데르트바서파크       0.149
104     노형근린공원      -0.027
105  제주4.3평화공원      -0.027
106  제주곶자왈도립공원      -0.027
107      한라생태숲      -0.027

[108 rows x 2 columns]

In [80]:
def combine_recommendations(gender, age_group, comp_num, styl5, styl6, styl7, styl8, selected_category, ct_sim, main_df):
    reg_df = recommend_2(gender, age_group, comp_num, styl5, styl6, styl7, styl8)
    content_df = place_sim(selected_category, ct_sim, main_df)
    # 유사도에 맞추어 평점 정규화 (1~5) -> (0~1)
    reg_df['stfn_pred_normalized'] = (reg_df['stfn_pred'] - 1) / (5 - 1)
    content_df['similarity_normalized'] = content_df['similarity'] 

    combined_df = pd.merge(reg_df, content_df, on='FCLTY_NM', how='inner')
    combined_df['final_score'] = combined_df['stfn_pred_normalized'] * 0.8 + combined_df['similarity_normalized'] * 0.2
    final_recommendations = combined_df.sort_values(by='final_score', ascending=False).reset_index(drop=True)
    # top_10_places = final_recommendations.head(10)
    # return top_10_places['FCLTY_NM'].tolist()
    return final_recommendations

In [81]:
# combine_recommendations(gender, age_group, comp_num, styl5, styl6, styl7, styl8, selected_category, ct_sim, main_df, cb_reg, places, cat_features)
combine_recommendations(1,20,3,7,4,5,6,'대형레저시설',ct_sim, main_df)

,FCLTY_NM,stfn_pred,stfn_pred_normalized,similarity,similarity_normalized,final_score
0,블랙스톤제주CC,4.543,0.88575,0.700,0.700,0.8486
1,제주도립김창열미술관,4.700,0.92500,0.480,0.480,0.8360
2,라온GC,4.462,0.86550,0.700,0.700,0.8324
3,국제리더스클럽,4.448,0.86200,0.700,0.700,0.8296
4,샤인빌파크CC,4.431,0.85775,0.700,0.700,0.8262
...,...,...,...,...,...,...
103,한라생태숲,4.437,0.85925,-0.027,-0.027,0.6820
104,제주곶자왈도립공원,4.413,0.85325,-0.027,-0.027,0.6772
105,노형근린공원,4.404,0.85100,-0.027,-0.027,0.6754
106,제주4.3평화공원,4.399,0.84975,-0.027,-0.027,0.6744
107,제주시민속오일시장,4.212,0.80300,0.149,0.149,0.6722

In [82]:
combine_recommendations(1,20,3,7,4,5,6,'관광지',ct_sim, main_df)

,FCLTY_NM,stfn_pred,stfn_pred_normalized,similarity,similarity_normalized,final_score
0,김녕해수욕장,4.655,0.91375,0.700,0.700,0.8710
1,카멜리아힐,4.620,0.90500,0.700,0.700,0.8640
2,윈드1947카트테마파크,4.614,0.90350,0.700,0.700,0.8628
3,절물자연휴양림,4.614,0.90350,0.700,0.700,0.8628
4,남원큰엉해변,4.607,0.90175,0.700,0.700,0.8614
...,...,...,...,...,...,...
103,제주영상문화산업진흥원,4.385,0.84625,0.023,0.023,0.6816
104,제주민속촌,4.338,0.83450,0.068,0.068,0.6812
105,제주도립미술관,4.302,0.82550,0.068,0.068,0.6740
106,건강과성박물관,4.285,0.82125,0.068,0.068,0.6706
107,스카이워터쇼,4.304,0.82600,0.023,0.023,0.6654

In [86]:
def print_recommendations(main_df):
    barrier_free_columns = [
        'BRLL_GUID_AT',  # 점자 안내 여부
        'GUID_DOG_ACP_POSBL_AT',  # 안내견 출입 가능 여부
        'DSPSN_TOILET_AT',  # 장애인 화장실 여부
        'WCHAIR_HOLD_AT',  # 휠체어 보유 여부
        'DSPSN_PRKPLCE_AT',  # 장애인 주차장 여부
        'KLANG_VIC_GUID_AT'  # 한국어 음성 안내 여부
    ]

    # 필터링 옵션 설정
    filter_brll_guid_at = False
    filter_guid_dog_acp_posbl_at = False
    filter_dspsn_toilet_at = True
    filter_wchair_hold_at = False
    filter_dspsn_prkplce_at = True
    filter_klang_vic_guid_at = False
    
    # final_recommendations = combine_recommendations(1, 20, 3, 6,2,5,7, '대형레저시설', ct_sim, main_df)
    final_recommendations = combine_recommendations(1,20,3,7,4,5,6,'관광지', ct_sim, main_df)

    combined_df = pd.merge(final_recommendations, main_df[['FCLTY_NM'] + barrier_free_columns], on='FCLTY_NM', how='left')

    # 조건에 맞춰 필터링 적용 (combined_df를 사용)
    if filter_brll_guid_at:
        idx = combined_df[combined_df['BRLL_GUID_AT'] == 0].index
        combined_df = combined_df.drop(idx)
        combined_df.reset_index(drop=True, inplace=True)

    if filter_guid_dog_acp_posbl_at:
        idx = combined_df[combined_df['GUID_DOG_ACP_POSBL_AT'] == 0].index
        combined_df = combined_df.drop(idx)
        combined_df.reset_index(drop=True, inplace=True)

    if filter_wchair_hold_at:
        idx = combined_df[combined_df['WCHAIR_HOLD_AT'] == 0].index
        combined_df = combined_df.drop(idx)
        combined_df.reset_index(drop=True, inplace=True)

    if filter_dspsn_toilet_at:
        idx = combined_df[combined_df['DSPSN_TOILET_AT'] == 0].index
        combined_df = combined_df.drop(idx)
        combined_df.reset_index(drop=True, inplace=True)

    if filter_dspsn_prkplce_at:
        idx = combined_df[combined_df['DSPSN_PRKPLCE_AT'] == 0].index
        combined_df = combined_df.drop(idx)
        combined_df.reset_index(drop=True, inplace=True)

    if filter_klang_vic_guid_at:
        idx = combined_df[combined_df['KLANG_VIC_GUID_AT'] == 0].index
        combined_df = combined_df.drop(idx)
        combined_df.reset_index(drop=True, inplace=True)

    # 최종 필터링된 추천 장소명 (상위 10개)
    filtered_recommendations = combined_df.drop_duplicates(subset='FCLTY_NM')['FCLTY_NM'].head(10).reset_index(drop=True)
    return filtered_recommendations

# 사용 예시:
filtered_recommendations = print_recommendations(main_df)
print(filtered_recommendations)

0        김녕해수욕장
1         카멜리아힐
2       절물자연휴양림
3          한림공원
4        9.81파크
5      에코랜드테마파크
6          섭지코지
7          일출랜드
8    선녀와나무꾼테마공원
9      훈데르트바서파크
Name: FCLTY_NM, dtype: object

In [87]:
def print_recommendations(main_df):
    barrier_free_columns = [
        'BRLL_GUID_AT',  # 점자 안내 여부
        'GUID_DOG_ACP_POSBL_AT',  # 안내견 출입 가능 여부
        'DSPSN_TOILET_AT',  # 장애인 화장실 여부
        'WCHAIR_HOLD_AT',  # 휠체어 보유 여부
        'DSPSN_PRKPLCE_AT',  # 장애인 주차장 여부
        'KLANG_VIC_GUID_AT'  # 한국어 음성 안내 여부
    ]

    # 필터링 옵션 설정
    filter_brll_guid_at = True
    filter_guid_dog_acp_posbl_at = True
    filter_dspsn_toilet_at = False
    filter_wchair_hold_at = False
    filter_dspsn_prkplce_at = False
    filter_klang_vic_guid_at = False
    
    final_recommendations = combine_recommendations(0,50,1,3,2,6,2,'전시/기념관', ct_sim, main_df)

    combined_df = pd.merge(final_recommendations, main_df[['FCLTY_NM'] + barrier_free_columns], on='FCLTY_NM', how='left')

    # 조건에 맞춰 필터링 적용 (combined_df를 사용)
    if filter_brll_guid_at:
        idx = combined_df[combined_df['BRLL_GUID_AT'] == 0].index
        combined_df = combined_df.drop(idx)
        combined_df.reset_index(drop=True, inplace=True)

    if filter_guid_dog_acp_posbl_at:
        idx = combined_df[combined_df['GUID_DOG_ACP_POSBL_AT'] == 0].index
        combined_df = combined_df.drop(idx)
        combined_df.reset_index(drop=True, inplace=True)

    if filter_wchair_hold_at:
        idx = combined_df[combined_df['WCHAIR_HOLD_AT'] == 0].index
        combined_df = combined_df.drop(idx)
        combined_df.reset_index(drop=True, inplace=True)

    if filter_dspsn_toilet_at:
        idx = combined_df[combined_df['DSPSN_TOILET_AT'] == 0].index
        combined_df = combined_df.drop(idx)
        combined_df.reset_index(drop=True, inplace=True)

    if filter_dspsn_prkplce_at:
        idx = combined_df[combined_df['DSPSN_PRKPLCE_AT'] == 0].index
        combined_df = combined_df.drop(idx)
        combined_df.reset_index(drop=True, inplace=True)

    if filter_klang_vic_guid_at:
        idx = combined_df[combined_df['KLANG_VIC_GUID_AT'] == 0].index
        combined_df = combined_df.drop(idx)
        combined_df.reset_index(drop=True, inplace=True)

    # 최종 필터링된 추천 장소명 (상위 10개)
    filtered_recommendations = combined_df.drop_duplicates(subset='FCLTY_NM')['FCLTY_NM'].head(10).reset_index(drop=True)
    return filtered_recommendations

# 사용 예시:
filtered_recommendations = print_recommendations(main_df)
print(filtered_recommendations)

0       제주항공우주박물관
1         국립제주박물관
2      너븐숭이4.3기념관
3          김만덕기념관
4         제주현대미술관
5        그리스신화박물관
6         제주도립미술관
7    ICC제주국제컨벤션센터
8          남원큰엉해변
9      선녀와나무꾼테마공원
Name: FCLTY_NM, dtype: object